In [184]:
# Author : Paul-Antoine Nguyen

# This script considers all the products a user has ordered
#
# We train a model computing the probability of reorder on the "train" data
#
# For the submission, we keep the orders that have a probability of
# reorder higher than a threshold


import numpy as np
import pandas as pd
import lightgbm as lgb
IDIR = 'data/'


print('loading prior')
priors = pd.read_csv(IDIR + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8})

print('loading train')
train = pd.read_csv(IDIR + 'order_products__train.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8})

print('loading orders')
orders = pd.read_csv(IDIR + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32})

print('loading products')
products = pd.read_csv(IDIR + 'products.csv', dtype={
        'product_id': np.uint16,
        'order_id': np.int32,
        'aisle_id': np.uint8,
        'department_id': np.uint8},
        usecols=['product_id', 'aisle_id', 'department_id'])

print('priors {}: {}'.format(priors.shape, ', '.join(priors.columns)))
print('orders {}: {}'.format(orders.shape, ', '.join(orders.columns)))
print('train {}: {}'.format(train.shape, ', '.join(train.columns)))

###

loading prior
loading train
loading orders
loading products
priors (32434489, 4): order_id, product_id, add_to_cart_order, reordered
orders (3421083, 7): order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order
train (1384617, 4): order_id, product_id, add_to_cart_order, reordered

In [185]:
priors

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [186]:
print('computing product f')
prods = pd.DataFrame()
prods['orders'] = priors.groupby(priors.product_id).size().astype(np.int32)
prods['reorders'] = priors['reordered'].groupby(priors.product_id).sum().astype(np.float32)
prods['reorder_rate'] = (prods.reorders / prods.orders).astype(np.float32)

computing product f

In [187]:
len(priors['product_id'].unique())

49677

In [188]:
priors.groupby('product_id').size()

product_id
1        1852
2          90
3         277
4         329
5          15
         ...
49684       9
49685      49
49686     120
49687      13
49688      89
Length: 49677, dtype: int64

In [189]:
prods

            orders  reorders  reorder_rate
product_id
1             1852    1136.0      0.613391
2               90      12.0      0.133333
3              277     203.0      0.732852
4              329     147.0      0.446809
5               15       9.0      0.600000
...            ...       ...           ...
49684            9       1.0      0.111111
49685           49       6.0      0.122449
49686          120      84.0      0.700000
49687           13       6.0      0.461538
49688           89      15.0      0.168539

[49677 rows x 3 columns]

In [190]:
products

       product_id  aisle_id  department_id
0               1        61             19
1               2       104             13
2               3        94              7
3               4        38              1
4               5         5             13
...           ...       ...            ...
49683       49684       124              5
49684       49685        42              1
49685       49686       112              3
49686       49687        41              8
49687       49688        73             11

[49688 rows x 3 columns]

In [191]:
products.index

RangeIndex(start=0, stop=49688, step=1)

In [192]:
products = products.join(prods, on='product_id')

In [193]:
products

       product_id  aisle_id  department_id  orders  reorders  reorder_rate
0               1        61             19  1852.0    1136.0      0.613391
1               2       104             13    90.0      12.0      0.133333
2               3        94              7   277.0     203.0      0.732852
3               4        38              1   329.0     147.0      0.446809
4               5         5             13    15.0       9.0      0.600000
...           ...       ...            ...     ...       ...           ...
49683       49684       124              5     9.0       1.0      0.111111
49684       49685        42              1    49.0       6.0      0.122449
49685       49686       112              3   120.0      84.0      0.700000
49686       49687        41              8    13.0       6.0      0.461538
49687       49688        73             11    89.0      15.0      0.168539

[49688 rows x 6 columns]

In [194]:
products.set_index('product_id', drop=False, inplace=True)
del prods

In [195]:
products

,product_id,aisle_id,department_id,orders,reorders,reorder_rate
product_id,,,,,,
1,1,61,19,1852.0,1136.0,0.613391
2,2,104,13,90.0,12.0,0.133333
3,3,94,7,277.0,203.0,0.732852
4,4,38,1,329.0,147.0,0.446809
5,5,5,13,15.0,9.0,0.600000
...,...,...,...,...,...,...
49684,49684,124,5,9.0,1.0,0.111111
49685,49685,42,1,49.0,6.0,0.122449
49686,49686,112,3,120.0,84.0,0.700000
49687,49687,41,8,13.0,6.0,0.461538
49688,49688,73,11,89.0,15.0,0.168539

In [196]:
products.isnull().sum()

product_id        0
aisle_id          0
department_id     0
orders           11
reorders         11
reorder_rate     11
dtype: int64

In [197]:
# orders, reorders, reorder_rate 의 결측치를 0 으로 입력해도 문제 없을듯!

In [198]:
products[products.orders.isna()]

,product_id,aisle_id,department_id,orders,reorders,reorder_rate
product_id,,,,,,
3630,3630,57,14,NaN,NaN,NaN
3718,3718,21,16,NaN,NaN,NaN
7045,7045,88,13,NaN,NaN,NaN
25383,25383,61,19,NaN,NaN,NaN
27499,27499,100,21,NaN,NaN,NaN
36233,36233,100,21,NaN,NaN,NaN
37703,37703,75,17,NaN,NaN,NaN
43725,43725,100,21,NaN,NaN,NaN
45971,45971,101,17,NaN,NaN,NaN
46625,46625,31,7,NaN,NaN,NaN
49540,49540,31,7,NaN,NaN,NaN

In [199]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [200]:
orders.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [201]:
orders[orders.days_since_prior_order.isnull()]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

In [202]:
orders[(orders.eval_set == 'train') & (orders.order_number == 1)]

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [203]:
orders[(orders.eval_set == 'test') & (orders.order_number == 1)]

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [204]:
orders[orders.user_id == 22]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
257,2300537,22,prior,1,3,7,NaN
258,144358,22,prior,2,3,7,30.0
259,1219654,22,prior,3,0,21,4.0
260,2922708,22,prior,4,3,11,30.0
261,3393222,22,prior,5,5,21,16.0
262,2327987,22,prior,6,1,19,17.0
263,2455079,22,prior,7,6,17,5.0
264,634494,22,prior,8,5,9,13.0
265,1014994,22,prior,9,5,15,28.0
266,3227049,22,prior,10,3,19,5.0
267,2780464,22,prior,11,5,12,2.0
268,194741,22,prior,12,0,8,2.0
269,1766930,22,prior,13,5,10,5.0
270,3090814,22,prior,14,1,19,3.0
271,2647850,22,prior,15,4,10,30.0
272,139655,22,test,16,5,6,1.0

In [205]:
print('add order info to priors')
orders.set_index('order_id', inplace=True, drop=False)
priors = priors.join(orders, on='order_id', rsuffix='_')

add order info to priors

In [206]:
priors

,order_id,product_id,add_to_cart_order,reordered,order_id_,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,2,202279,prior,3,5,9,8.0
1,2,28985,2,1,2,202279,prior,3,5,9,8.0
2,2,9327,3,0,2,202279,prior,3,5,9,8.0
3,2,45918,4,1,2,202279,prior,3,5,9,8.0
4,2,30035,5,0,2,202279,prior,3,5,9,8.0
...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,3421083,25247,prior,24,2,6,21.0
32434485,3421083,11352,7,0,3421083,25247,prior,24,2,6,21.0
32434486,3421083,4600,8,0,3421083,25247,prior,24,2,6,21.0
32434487,3421083,24852,9,1,3421083,25247,prior,24,2,6,21.0
32434488,3421083,5020,10,1,3421083,25247,prior,24,2,6,21.0

In [207]:
priors.drop('order_id_', inplace=True, axis=1)
priors

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0
...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,prior,24,2,6,21.0
32434485,3421083,11352,7,0,25247,prior,24,2,6,21.0
32434486,3421083,4600,8,0,25247,prior,24,2,6,21.0
32434487,3421083,24852,9,1,25247,prior,24,2,6,21.0
32434488,3421083,5020,10,1,25247,prior,24,2,6,21.0

In [208]:
# priors 에서 orders 를 order_id 로 join 했으니 당연히 eval_set 컬럼의 값은 'prior' 만 있음~

priors.eval_set.unique()

['prior']
Categories (3, object): ['prior', 'test', 'train']

In [209]:
### user features


print('computing user f')
usr = pd.DataFrame()
usr['average_days_between_orders'] = orders.groupby('user_id')['days_since_prior_order'].mean().astype(np.float32)
usr['nb_orders'] = orders.groupby('user_id').size().astype(np.int16)

users = pd.DataFrame()
users['total_items'] = priors.groupby('user_id').size().astype(np.int16)
users['all_products'] = priors.groupby('user_id')['product_id'].apply(set)

computing user f

In [210]:
usr

         average_days_between_orders  nb_orders
user_id
1                          19.000000         11
2                          16.285715         15
3                          12.000000         13
4                          17.000000          6
5                          11.500000          5
...                              ...        ...
206205                     16.666666          4
206206                      3.716418         68
206207                     14.312500         17
206208                      7.367347         50
206209                     18.461538         14

[206209 rows x 2 columns]

In [211]:
users

         total_items                                       all_products
user_id
1                 59  {17122, 196, 26405, 46149, 14084, 13032, 26088...
2                195  {45066, 2573, 18961, 23, 32792, 1559, 22559, 1...
3                 88  {17668, 44683, 48523, 21903, 14992, 21137, 324...
4                 18  {21573, 42329, 17769, 35469, 37646, 1200, 1905...
5                 37  {11777, 40706, 28289, 48775, 20754, 6808, 1398...
...              ...                                                ...
206205            32  {20995, 21137, 22035, 21910, 17691, 31404, 210...
206206           285  {16896, 44033, 18434, 16387, 21508, 45573, 102...
206207           223  {20995, 18441, 45578, 47626, 33806, 22035, 235...
206208           677  {1025, 20995, 47626, 8203, 5133, 38419, 27156,...
206209           129  {14727, 26503, 22920, 26634, 13838, 11791, 248...

[206209 rows x 2 columns]

In [212]:
(users.all_products.map(len)).astype(np.int16)

user_id
1          18
2         102
3          33
4          17
5          23
         ...
206205     24
206206    150
206207     92
206208    198
206209     68
Name: all_products, Length: 206209, dtype: int16

In [213]:
# ... 말고 풀 리스트를 봤을때 18 개가 맞는지 확인하자! 맞네!
xx = list(users[users.index == 1].all_products)
xx

[{196,
  10258,
  10326,
  12427,
  13032,
  13176,
  14084,
  17122,
  25133,
  26088,
  26405,
  30450,
  35951,
  38928,
  39657,
  41787,
  46149,
  49235}]

In [214]:
users['total_distinct_items'] = (users.all_products.map(len)).astype(np.int16)
users

,total_items,all_products,total_distinct_items
user_id,,,
1,59,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",18
2,195,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",102
3,88,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",33
4,18,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",17
5,37,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",23
...,...,...,...
206205,32,"{20995, 21137, 22035, 21910, 17691, 31404, 210...",24
206206,285,"{16896, 44033, 18434, 16387, 21508, 45573, 102...",150
206207,223,"{20995, 18441, 45578, 47626, 33806, 22035, 235...",92
206208,677,"{1025, 20995, 47626, 8203, 5133, 38419, 27156,...",198
206209,129,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",68

In [215]:
users = users.join(usr)
del usr
users

,total_items,all_products,total_distinct_items,average_days_between_orders,nb_orders
user_id,,,,,
1,59,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",18,19.000000,11
2,195,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",102,16.285715,15
3,88,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",33,12.000000,13
4,18,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",17,17.000000,6
5,37,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",23,11.500000,5
...,...,...,...,...,...
206205,32,"{20995, 21137, 22035, 21910, 17691, 31404, 210...",24,16.666666,4
206206,285,"{16896, 44033, 18434, 16387, 21508, 45573, 102...",150,3.716418,68
206207,223,"{20995, 18441, 45578, 47626, 33806, 22035, 235...",92,14.312500,17
206208,677,"{1025, 20995, 47626, 8203, 5133, 38419, 27156,...",198,7.367347,50
206209,129,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",68,18.461538,14

In [216]:
users['average_basket'] = (users.total_items / users.nb_orders).astype(np.float32)
print('user f', users.shape)

user f (206209, 6)

In [217]:
users

,total_items,all_products,total_distinct_items,average_days_between_orders,nb_orders,average_basket
user_id,,,,,,
1,59,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",18,19.000000,11,5.363636
2,195,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",102,16.285715,15,13.000000
3,88,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",33,12.000000,13,6.769231
4,18,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",17,17.000000,6,3.000000
5,37,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",23,11.500000,5,7.400000
...,...,...,...,...,...,...
206205,32,"{20995, 21137, 22035, 21910, 17691, 31404, 210...",24,16.666666,4,8.000000
206206,285,"{16896, 44033, 18434, 16387, 21508, 45573, 102...",150,3.716418,68,4.191176
206207,223,"{20995, 18441, 45578, 47626, 33806, 22035, 235...",92,14.312500,17,13.117647
206208,677,"{1025, 20995, 47626, 8203, 5133, 38419, 27156,...",198,7.367347,50,13.540000
206209,129,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",68,18.461538,14,9.214286

In [218]:
priors.eval_set.unique()

['prior']
Categories (3, object): ['prior', 'test', 'train']

In [219]:
### userXproduct features

print('compute userXproduct f - this is long...')
priors['user_product'] = priors.product_id + priors.user_id * 100000
priors

compute userXproduct f - this is long...

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,user_product
0,2,33120,1,1,202279,prior,3,5,9,8.0,-1246903360
1,2,28985,2,1,202279,prior,3,5,9,8.0,-1246907495
2,2,9327,3,0,202279,prior,3,5,9,8.0,-1246927153
3,2,45918,4,1,202279,prior,3,5,9,8.0,-1246890562
4,2,30035,5,0,202279,prior,3,5,9,8.0,-1246906445
...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,prior,24,2,6,21.0,-1770227618
32434485,3421083,11352,7,0,25247,prior,24,2,6,21.0,-1770255944
32434486,3421083,4600,8,0,25247,prior,24,2,6,21.0,-1770262696
32434487,3421083,24852,9,1,25247,prior,24,2,6,21.0,-1770242444
32434488,3421083,5020,10,1,25247,prior,24,2,6,21.0,-1770262276

user_product 값을 보면 오버플로우 발생한듯!!!!!!!!! 

int32 로는 안됨. int64 로는 괜찮을텐데?

근데 다른 값이랑 겹치거나 그런 문제는 없을거라서 문제 없을듯.

In [220]:
priors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   product_id              uint16
 2   add_to_cart_order       int16
 3   reordered               int8
 4   user_id                 int32
 5   eval_set                category
 6   order_number            int16
 7   order_dow               int8
 8   order_hour_of_day       int8
 9   days_since_prior_order  float32
 10  user_product            int32
dtypes: category(1), float32(1), int16(2), int32(3), int8(3), uint16(1)
memory usage: 804.2 MB

In [221]:
# This was to slow !!
#def last_order(order_group):
#    ix = order_group.order_number.idxmax
#    return order_group.shape[0], order_group.order_id[ix],  order_group.add_to_cart_order.mean()
#userXproduct = pd.DataFrame()
#userXproduct['tmp'] = df.groupby('user_product').apply(last_order)

In [222]:
keke_data = {'col1':[1,2],'col2':[3,4]}
keke_idx = ['row1','row2']
keke_df = pd.DataFrame(data = keke_data, index=keke_idx)
print(keke_df)

      col1  col2
row1     1     3
row2     2     4

In [223]:
for row in keke_df.itertuples():
    print(row.Index)
    print(row.col1)
    print(row.col2)

row1
1
3
row2
2
4

In [224]:
priors.eval_set.unique()

['prior']
Categories (3, object): ['prior', 'test', 'train']

In [225]:
# d 딕셔너리에는 priors 데이터프레임에 있는 데이터 기준으로 만들어짐.
# train 데이터프레임은 추가 안해도 될려나??

d= dict()
for row in priors.itertuples():
    z = row.user_product
    if z not in d:
        d[z] = (1,                                  # 어떤 유저가 어떤 제품을 구매한 횟수인듯
                (row.order_number, row.order_id),   # 가장 마지막에 구입한 order_id 를 얻을 수 있음. 근데 의미 있을까?
                row.add_to_cart_order)              # 의미 있을까?
    else:
        d[z] = (d[z][0] + 1,
                max(d[z][1], (row.order_number, row.order_id)),
                d[z][2] + row.add_to_cart_order)                    # 이렇게 계산하는게 의미가 있을까?

In [226]:
d

{-1246903360: (5, (8, 104690), 10),
 -1246907495: (5, (6, 132412), 16),
 -1246927153: (1, (3, 2), 3),
 -1246890562: (5, (7, 2382766), 24),
 -1246906445: (3, (7, 2382766), 14),
 -1246918686: (7, (7, 2382766), 25),
 -1246896339: (5, (6, 132412), 29),
 -1246934661: (2, (3, 2), 19),
 -1246892812: (3, (6, 132412), 20),
 -877802726: (17, (25, 368699), 86),
 -877811642: (14, (25, 368699), 58),
 -877818776: (13, (25, 368699), 72),
 -877814577: (14, (25, 368699), 55),
 -877818812: (6, (16, 3), 54),
 -877789813: (13, (25, 368699), 69),
 -877819019: (4, (24, 2214773), 35),
 -877803815: (6, (24, 2214773), 45),
 672177658: (17, (55, 1609396), 99),
 672157250: (4, (42, 2715951), 19),
 672170574: (19, (56, 1253720), 169),
 672158577: (49, (56, 1253720), 401),
 672140870: (29, (56, 1253720), 235),
 672152167: (33, (55, 1609396), 301),
 672153414: (12, (55, 1609396), 119),
 672165678: (16, (54, 385597), 124),
 672171101: (4, (43, 214045), 52),
 672148432: (19, (56, 1253720), 174),
 672155962: (21, (52, 2477693), 251),
 672163461: (9, (47, 2482167), 96),
 672172092: (46, (56, 1253720), 365),
 -1567656008: (51, (52, 1172783), 99),
 -1567654179: (33, (52, 1172783), 181),
 -1567621855: (51, (52, 1172783), 114),
 -1567641218: (32, (52, 1172783), 254),
 -1567645275: (29, (52, 1172783), 196),
 -1567620814: (35, (52, 1172783), 216),
 -1567655939: (31, (52, 1172783), 263),
 -1567659551: (16, (42, 5), 173),
 -1567641824: (14, (45, 2426221), 118),
 -1567662836: (17, (51, 1364081), 155),
 -1567628306: (15, (46, 2219657), 154),
 -1567663000: (13, (51, 1364081), 137),
 -1567621182: (28, (51, 1364081), 216),
 -1567648270: (19, (52, 1172783), 243),
 -1567632173: (9, (47, 377246), 131),
 -1567656222: (5, (42, 5), 86),
 -1567623486: (7, (42, 5), 118),
 -1567644411: (9, (43, 1758670), 123),
 -1567650615: (6, (42, 5), 84),
 -1567628008: (4, (42, 5), 86),
 -1567620818: (3, (42, 5), 25),
 -1567621975: (1, (42, 5), 22),
 -1567622662: (1, (42, 5), 23),
 -1567630491: (1, (42, 5), 24),
 -1567620359: (1, (42, 5), 25),
 -1567660705: (2, (46, 2219657), 43),
 -2059726834: (1, (4, 6), 1),
 -2059751423: (1, (4, 6), 2),
 -2059725399: (1, (4, 6), 3),
 1405432162: (1, (11, 7), 1),
 1405444914: (1, (11, 7), 2),
 310723423: (16, (26, 3059177), 46),
 1016719517: (2, (15, 2732285), 21),
 1016746002: (7, (22, 2390913), 49),
 1016709294: (3, (20, 47560), 26),
 1016700126: (14, (23, 2707859), 56),
 1016727305: (4, (22, 2390913), 58),
 1016732315: (8, (15, 2732285), 52),
 1016713104: (5, (22, 2390913), 55),
 1016729618: (2, (14, 9), 16),
 1016721400: (1, (14, 9), 9),
 1016742645: (4, (14, 9), 42),
 1016716474: (1, (14, 9), 11),
 1016725478: (9, (16, 1711002), 49),
 1016698544: (3, (14, 9), 38),
 1016702102: (8, (21, 2264678), 55),
 1016712295: (2, (20, 47560), 32),
 659322964: (12, (20, 954679), 51),
 659302908: (12, (24, 1461499), 57),
 659329829: (3, (6, 2622738), 20),
 659345878: (7, (11, 1322588), 29),
 659302717: (11, (24, 1461499), 66),
 659299641: (2, (5, 2166507), 16),
 659319249: (11, (13, 379382), 53),
 659320234: (4, (11, 1322588), 35),
 659332246: (4, (7, 1113824), 33),
 659325268: (6, (20, 954679), 40),
 659313104: (3, (13, 379382), 20),
 659347347: (4, (11, 1322588), 32),
 659324954: (4, (24, 1461499), 34),
 659301576: (10, (22, 3147827), 46),
 659323832: (4, (10, 594628), 29),
 1489328274: (10, (13, 592992), 29),
 1489325197: (8, (10, 2436388), 19),
 1489304106: (5, (13, 592992), 17),
 1489299425: (3, (4, 11), 13),
 1489329618: (4, (12, 2991369), 25),
 -1918838587: (5, (22, 12), 10),
 -1918853963: (8, (25, 200928), 66),
 -1918825412: (7, (32, 1758815), 37),
 -1918831298: (2, (22, 12), 7),
 -1918831969: (1, (22, 12), 5),
 -1918834849: (3, (22, 12), 56),
 -1918866020: (1, (22, 12), 7),
 -1918842274: (1, (22, 12), 8),
 -1918830296: (1, (22, 12), 9),
 -1918831134: (3, (22, 12), 38),
 -1918843971: (1, (22, 12), 11),
 -1918858009: (2, (23, 3242146), 23),
 -1918845794: (2, (23, 3242146), 23),
 -1918839713: (1, (22, 12), 14),
 -1918825673: (2, (23, 3242146), 16),
 213250034: (1, (2, 13), 1),
 213260111: (1, (2, 13), 2),
 213268123: (1, (2, 13), 3),
 213232900: (1, (2, 13), 4),
 213277339: (1, (2, 13), 5),
 213259582: (1, (2, 13), 6),
 213258487: (1, (2, 13), 7),
 213273994: (1, (2, 13), 8),
 213265902: (1, (2, 13), 9),
 213255724: (1, (2, 13), 10),
 213268790: (1, (2, 13), 11),
 213236504: (1, (2, 13), 12),
 213258656: (1, (2, 13), 13),
 1819420392: (11, (49, 14), 51),
 1819427845: (22, (49, 14), 64),
 1819400162: (19, (51, 2661872), 72),
 1819402452: (8, (49, 14), 35),
 1819408575: (5, (49, 14), 38),
 1819441890: (9, (49, 14), 24),
 1819439475: (8, (49, 14), 32),
 1819410096: (7, (49, 14), 28),
 1819423032: (1, (49, 14), 9),
 1819420995: (2, (49, 14), 11),
 1819445066: (1, (49, 14), 11),
 1195152364: (93, (99, 1078113), 206),
 1195153899: (57, (99, 1078113), 205),
 1195140165: (2, (51, 15), 7),
 1195135700: (15, (97, 1244846), 102),
 1195165167: (6, (51, 15), 47),
 304140571: (2, (18, 16), 3),
 304156282: (1, (18, 16), 2),
 304176253: (1, (18, 16), 3),
 -998893867: (1, (3, 18), 1),
 -998866919: (4, (17, 2327557), 65),
 -998900888: (6, (17, 2327557), 53),
 -998896676: (26, (47, 3292238), 345),
 -998865877: (44, (47, 3292238), 182),
 -998857256: (41, (47, 3292238), 268),
 -998854919: (3, (5, 356784), 22),
 -998873922: (12, (46, 1697936), 142),
 -998862903: (11, (47, 3292238), 176),
 -998875240: (2, (3, 18), 22),
 -998853143: (10, (45, 1629166), 223),
 -998893940: (7, (47, 3292238), 102),
 -998897086: (2, (44, 1884547), 50),
 -998872954: (3, (46, 1697936), 76),
 -998899772: (1, (3, 18), 15),
 -998856393: (7, (46, 1697936), 147),
 -998869870: (8, (47, 3292238), 160),
 -998874244: (1, (3, 18), 18),
 -998897232: (7, (43, 1298568), 132),
 -998892040: (2, (7, 406256), 40),
 -998884320: (4, (13, 106052), 57),
 -998878549: (8, (15, 1591854), 171),
 -998894580: (5, (22, 958862), 101),
 -998866341: (16, (46, 1697936), 345),
 -998868609: (3, (8, 1096198), 77),
 -998854909: (18, (46, 1697936), 303),
 -998854122: (9, (45, 1629166), 141),
 -998900831: (14, (45, 1629166), 221),
 -288992327: (5, (12, 782238), 8),
 -289009754: (5, (12, 782238), 18),
 -288993052: (9, (12, 782238), 52),
 1111366246: (5, (5, 496569), 25),
 1111378301: (3, (4, 2928793), 13),
 1111338235: (2, (3, 2047713), 6),
 1111335928: (5, (7, 3089875), 21),
 1111364268: (6, (21, 473696), 31),
 1111355668: (14, (22, 146548), 63),
 1111373449: (3, (6, 2884199), 19),
 1111358421: (2, (6, 2884199), 15),
 287270417: (12, (37, 212907), 55),
 287298514: (8, (25, 1835870), 49),
 287269557: (1, (13, 21), 3),
 287296886: (2, (20, 1254955), 14),
 287291126: (8, (17, 1918269), 20),
 -1212743387: (23, (34, 384831), 75),
 -1212744542: (15, (31, 1643611), 64),
 -1212742444: (21, (34, 384831), 91),
 -1212738303: (10, (26, 952767), 104),
 -1212726023: (11, (31, 1643611), 74),
 -1212743955: (16, (33, 1334380), 71),
 -1212720355: (10, (34, 384831), 69),
 -1212727303: (1, (25, 22), 8),
 -1212748228: (10, (34, 384831), 65),
 -1212745886: (1, (25, 22), 10),
 -1212749955: (3, (32, 30205), 18),
 -1212726703: (3, (32, 30205), 23),
 -1212720317: (10, (32, 30205), 99),
 -1212736028: (2, (25, 22), 17),
 -1732708661: (17, (22, 1306124), 55),
 -1732699429: (3, (22, 1306124), 13),
 -1732704930: (3, (21, 23), 18),
 -1732708309: (4, (22, 1306124), 25),
 -1732686826: (13, (22, 1306124), 49),
 -1732722556: (2, (21, 23), 17),
 -1732721095: (1, (21, 23), 7),
 -1732689639: (1, (21, 23), 8),
 -1732726623: (6, (21, 23), 72),
 -1732726074: (5, (22, 1306124), 53),
 -1732715903: (1, (21, 23), 11),
 -1732690293: (1, (21, 23), 12),
 -1732726211: (3, (21, 23), 39),
 -1732702387: (1, (21, 23), 14),
 -2111296402: (1, (19, 24), 1),
 -2111327415: (2, (24, 889223), 15),
 -2111290305: (2, (24, 889223), 15),
 1694742459: (14, (19, 25), 49),
 1694764191: (1, (19, 25), 2),
 1694770214: (2, (19, 25), 6),
 1694747280: (13, (19, 25), 55),
 1694754809: (1, (19, 25), 5),
 1694734638: (2, (19, 25), 8),
 1694739087: (4, (19, 25), 12),
 1694771750: (1, (19, 25), 8),
 1694780875: (1, (19, 25), 9),
 1694766210: (4, (19, 25), 30),
 1694763024: (2, (19, 25), 22),
 1694748629: (1, (19, 25), 12),
 1694770153: (1, (19, 25), 13),
 1694781003: (2, (19, 25), 15),
 -1839433233: (11, (31, 3172877), 79),
 -1839444332: (25, (32, 1707966), 121),
 -1839422978: (2, (25, 2787024), 7),
 -1839443294: (4, (18, 1785334), 25),
 -1839436064: (4, (31, 3172877), 42),
 -1839447281: (16, (29, 2180257), 68),
 -1839428639: (6, (27, 1699739), 37),
 -1839421418: (2, (2, 26), 12),
 54011288: (7, (19, 56287), 55),
 54028554: (19, (20, 2780276), 56),
 54011758: (6, (18, 280226), 34),
 54019131: (2, (18, 280226), 23),
 54036338: (1, (16, 27), 5),
 54016591: (10, (17, 183009), 90),
 54045878: (12, (20, 2780276), 80),
 54015906: (9, (18, 280226), 55),
 54040813: (3, (16, 27), 25),
 54020050: (1, (16, 27), 10),
 54003485: (4, (16, 27), 35),
 54026961: (4, (19, 56287), 49),
 54039700: (1, (16, 27), 13),
 54001494: (4, (19, 56287), 48),
 54017590: (1, (16, 27), 15),
 54027097: (6, (16, 27), 45),
 54047495: (4, (19, 56287), 43),
 54038716: (6, (20, 2780276), 75),
 54006766: (1, (16, 27), 19),
 54000559: (2, (19, 56287), 28),
 54022601: (4, (20, 2780276), 35),
 54024240: (3, (19, 56287), 39),
 54013639: (4, (20, 2780276), 37),
 54040062: (7, (16, 27), 105),
 54018750: (1, (16, 27), 25),
 54025563: (1, (16, 27), 26),
 54008355: (1, (16, 27), 27),
 1235700516: (3, (37, 1220626), 3),
 1235706001: (2, (29, 28), 4),
 1235682869: (2, (60, 1087398), 17),
 1235688233: (17, (78, 1940364), 152),
 1235690664: (19, (75, 1335378), 189),
 1235713034: (4, (62, 2819438), 45),
 1235702628: (2, (29, 28), 9),
 1235678388: (23, (78, 1940364), 231),
 1235692956: (8, (41, 2319435), 82),
 1235710912: (65, (80, 41841), 314),
 1235683939: (48, (80, 41841), 327),
 1235712617: (33, (80, 41841), 227),
 1235689432: (48, (80, 41841), 353),
 1235703952: (44, (80, 41841), 389),
 1235702696: (11, (29, 28), 152),
 1235697323: (14, (74, 3032262), 150),
 -429291240: (16, (30, 168695), 45),
 -429313206: (17, (17, 688704), 35),
 -429321416: (10, (30, 168695), 32),
 -429326021: (8, (16, 2773326), 25),
 -429300824: (15, (28, 3371712), 27),
 -2043887921: (12, (13, 1896267), 12),
 -2043935322: (12, (13, 1896267), 24),
 -2043893536: (6, (13, 1896267), 16),
 -1300387534: (2, (7, 31), 19),
 -1300413545: (9, (12, 874656), 31),
 -1300414577: (8, (12, 874656), 66),
 -1300404763: (9, (13, 642226), 39),
 -1300431560: (7, (12, 874656), 52),
 -1300410833: (7, (11, 1656010), 66),
 -1300387324: (3, (7, 31), 38),
 -1300406554: (4, (12, 874656), 36),
 -1300388580: (3, (7, 31), 35),
 -1300427044: (1, (7, 31), 10),
 -963289504: (8, (10, 2210631), 10),
 -963285897: (1, (4, 32), 2),
 -963288712: (3, (4, 32), 7),
 -963280893: (4, (9, 1376908), 17),
 -963283526: (3, (9, 1376908), 11),
 -963266001: (1, (4, 32), 6),
 -963252205: (4, (8, 1679067), 20),
 -963296968: (1, (4, 32), 8),
 -963273689: (2, (4, 32), 12),
 -898296189: (10, (14, 611192), 22),
 -898269148: (1, (6, 33), 2),
 -898293296: (1, (6, 33), 3),
 -898300442: (1, (6, 33), 4),
 -898255575: (1, (6, 33), 5),
 -898281918: (5, (10, 1607172), 27),
 -898252498: (1, (6, 33), 7),
 -898268907: (4, (14, 611192), 37),
 -898261825: (2, (6, 33), 19),
 -1222108067: (7, (9, 1001922), 15),
 -1222111948: (2, (2, 2460576), 4),
 -1222121765: (4, (10, 429680), 16),
 -1222119506: (2, (3, 3185265), 5),
 -1222098500: (1, (1, 35), 5),
 961468265: (29, (46, 1931313), 78),
 961465763: (1, (1, 37), 2),
 961476425: (1, (1, 37), 3),
 1308779495: (3, (11, 2104164), 5),
 1308735421: (3, (11, 2104164), 9),
 1308759020: (6, (11, 2104164), 16),
 1308752719: (1, (8, 39), 4),
 1308739201: (1, (8, 39), 5),
 38210070: (14, (29, 40), 45),
 38242450: (15, (29, 40), 70),
 38233198: (19, (29, 40), 67),
 38234866: (18, (29, 40), 57),
 -63507248: (3, (21, 1235030), 3),
 -63507237: (5, (20, 41), 22),
 322585295: (12, (19, 2744377), 19),
 322598408: (7, (35, 3042905), 17),
 322578584: (9, (35, 3042905), 24),
 -331946381: (1, (14, 43), 1),
 -331945347: (1, (14, 43), 2),
 -331958479: (1, (14, 43), 3),
 -331929429: (3, (14, 43), 13),
 -331954446: (1, (14, 43), 5),
 -331945743: (2, (14, 43), 7),
 -331933291: (1, (14, 43), 7),
 1203462325: (6, (12, 2544248), 12),
 1203458795: (12, (18, 1087044), 30),
 1203451771: (2, (10, 1619608), 6),
 1203431199: (1, (3, 44), 4),
 1203475200: (4, (13, 3362416), 13),
 1203458828: (1, (3, 44), 6),
 1203458172: (4, (18, 1087044), 19),
 1203444782: (2, (10, 1619608), 13),
 1203433056: (1, (3, 44), 9),
 1203448157: (2, (6, 2815397), 11),
 -503650947: (14, (56, 3053897), 146),
 1095136884: (1, (3, 46), 1),
 1095148183: (2, (4, 2771371), 7),
 1095126172: (1, (3, 46), 3),
 1095104778: (4, (5, 2221353), 12),
 1095134519: (5, (5, 2221353), 22),
 1095111983: (5, (5, 2221353), 27),
 1095118346: (4, (4, 2771371), 39),
 1095121067: (3, (3, 46), 27),
 1095141602: (3, (3, 46), 32),
 1095127656: (4, (4, 2771371), 44),
 1095117417: (4, (5, 2221353), 23),
 1095122282: (1, (3, 46), 12),
 1095147827: (4, (4, 2771371), 36),
 1095132917: (1, (3, 46), 14),
 1095105077: (4, (5, 2221353), 32),
 1095104447: (2, (4, 2771371), 26),
 1095103703: (1, (3, 46), 17),
 1095134233: (2, (5, 2221353), 26),
 1095128921: (1, (3, 46), 19),
 1095115364: (2, (4, 2771371), 31),
 1979847613: (8, (12, 2083347), 12),
 1979870091: (6, (13, 3137006), 13),
 1979874168: (8, (13, 3137006), 21),
 1979876857: (1, (6, 47), 4),
 1979860039: (5, (12, 2083347), 24),
 98744945: (1, (5, 48), 1),
 98753114: (3, (5, 48), 10),
 98748416: (2, (5, 48), 6),
 98736957: (1, (5, 48), 4),
 98772985: (1, (5, 48), 5),
 98742960: (1, (5, 48), 6),
 98742219: (1, (5, 48), 7),
 98767745: (1, (5, 48), 8),
 -673431079: (12, (25, 1018052), 46),
 -673395316: (34, (40, 983221), 84),
 -673414285: (24, (39, 1627671), 46),
 -673414915: (3, (14, 49), 9),
 843065805: (2, (76, 1119261), 8),
 843100401: (1, (25, 50), 2),
 843082591: (7, (92, 2066228), 45),
 843103196: (1, (25, 50), 4),
 843066433: (3, (42, 2083824), 20),
 843070207: (14, (94, 1583731), 80),
 843065684: (1, (25, 50), 7),
 -1083938910: (1, (6, 51), 1),
 -1083965590: (2, (6, 51), 26),
 -1083954190: (1, (6, 51), 3),
 -1083923751: (1, (6, 51), 4),
 -1083924670: (1, (6, 51), 5),
 -1083936560: (1, (6, 51), 6),
 -1083968580: (1, (6, 51), 7),
 -1083947989: (2, (6, 51), 20),
 -1083964691: (3, (6, 51), 15),
 -1545148333: (1, (18, 52), 1),
 -1545142444: (35, (57, 1849406), 133),
 -1545127888: (8, (20, 2639846), 27),
 -1545117613: (17, (57, 1849406), 88),
 -1545162811: (1, (18, 52), 5),
 198990260: (27, (53, 208699), 236),
 199003054: (22, (53, 208699), 101),
 199012617: (33, (53, 208699), 186),
 199002014: (14, (53, 208699), 146),
 198997850: (21, (50, 3156157), 150),
 198979875: (13, (51, 2932188), 121),
 199006114: (27, (53, 208699), 213),
 198971284: (9, (47, 1025182), 85),
 198987706: (6, (29, 2668475), 62),
 199004235: (26, (53, 208699), 251),
 199004683: (3, (7, 539277), 34),
 199004055: (10, (49, 3230755), 102),
 199013034: (7, (44, 2687728), 62),
 198999856: (10, (48, 1347639), 151),
 199011602: (5, (43, 3103468), 49),
 607776241: (1, (2, 54), 1),
 607790260: (2, (3, 2932612), 3),
 607799412: (1, (2, 54), 3),
 607800838: (1, (2, 54), 4),
 607776529: (1, (2, 54), 5),
 607801494: (1, (2, 54), 6),
 607798379: (1, (2, 54), 7),
 -132659152: (4, (10, 1442782), 30),
 -132693217: (3, (10, 1442782), 30),
 -132684016: (2, (9, 2164153), 9),
 -132696012: (5, (8, 55), 43),
 -132673922: (1, (8, 55), 5),
 -132688712: (3, (8, 55), 17),
 -132693637: (6, (10, 1442782), 44),
 -132677503: (3, (10, 1442782), 15),
 -132671497: (1, (8, 55), 9),
 -132693370: (3, (8, 55), 27),
 -132669154: (1, (8, 55), 11),
 -132690368: (1, (8, 55), 12),
 -132683654: (1, (8, 55), 13),
 -132669711: (1, (8, 55), 14),
 -132661179: (3, (8, 55), 24),
 -132656765: (1, (8, 55), 16),
 -132698424: (1, (8, 55), 17),
 -132659938: (2, (8, 55), 36),
 -132674948: (2, (10, 1442782), 25),
 -132695148: (1, (8, 55), 20),
 -132663573: (1, (8, 55), 21),
 -132676088: (1, (8, 55), 22),
 -135860275: (7, (45, 1137666), 58),
 -135862497: (2, (28, 2302677), 29),
 -135842332: (7, (44, 1240926), 35),
 -135855776: (5, (45, 1137666), 47),
 -135858220: (8, (45, 1137666), 45),
 -135865920: (2, (8, 56), 25),
 -135820087: (7, (11, 3252379), 35),
 -135845393: (22, (45, 1137666), 106),
 -135845386: (4, (9, 116747), 26),
 -135833246: (1, (8, 56), 10),
 -893345393: (6, (26, 2407100), 21),
 -893320065: (7, (17, 1982577), 28),
 -893346159: (10, (27, 1073801), 46),
 -893324174: (5, (24, 586492), 22),
 -893348239: (16, (27, 1073801), 58),
 -893320087: (12, (27, 1073801), 42),
 -893318439: (9, (19, 631931), 31),
 -2115145809: (18, (76, 1170678), 144),
 -2115166359: (21, (76, 1170678), 133),
 -2115146359: (7, (52, 3305942), 84),
 -2115156008: (33, (76, 1170678), 151),
 -2115142580: (3, (9, 58), 23),
 -2115126919: (10, (59, 426939), 88),
 849730661: (8, (8, 59), 15),
 849744189: (8, (8, 59), 23),
 849711014: (8, (8, 59), 12),
 -1891524658: (6, (16, 54347), 9),
 -1891512197: (10, (35, 2865516), 77),
 -1891497663: (7, (22, 2373073), 26),
 -1891497482: (3, (13, 2189730), 9),
 -1891521416: (24, (35, 2865516), 110),
 -1891496946: (10, (26, 2342586), 77),
 -1891506626: (20, (35, 2865516), 131),
 -1891517469: (11, (31, 1987817), 123),
 -1891495815: (6, (25, 1438195), 76),
 -1891532294: (17, (31, 1987817), 179),
 -1891485964: (13, (31, 1987817), 187),
 -1891533811: (3, (12, 528536), 56),
 -1891521343: (30, (35, 2865516), 235),
 -1891511657: (16, (35, 2865516), 195),
 -1891533702: (19, (34, 2963282), 264),
 -1891516798: (11, (31, 1987817), 140),
 -1891511629: (9, (34, 2963282), 160),
 -1891489682: (11, (34, 2963282), 164),
 1229542265: (6, (6, 605914), 39),
 1229522507: (4, (5, 1572492), 23),
 1229504149: (5, (5, 1572492), 32),
 1229529127: (5, (5, 1572492), 30),
 1229515541: (6, (6, 605914), 38),
 1229513042: (6, (6, 605914), 33),
 1229520940: (5, (5, 1572492), 37),
 1229510473: (6, (6, 605914), 48),
 1229517207: (6, (6, 605914), 50),
 1229538928: (6, (6, 605914), 50),
 1229506184: (5, (5, 1572492), 51),
 1229516974: (6, (6, 605914), 57),
 1814440833: (2, (9, 2857642), 3),
 1814474210: (7, (10, 2111176), 20),
 1814468582: (2, (4, 62), 5),
 1814457025: (3, (9, 2857642), 9),
 1814478582: (2, (9, 2857642), 9),
 1814459665: (2, (9, 2857642), 11),
 1814450930: (1, (4, 62), 7),
 -680076002: (1, (21, 63), 1),
 -680060214: (2, (26, 1705732), 10),
 -680092561: (1, (21, 63), 3),
 -680077685: (8, (37, 366261), 42),
 -680067034: (2, (25, 222508), 16),
 -680067248: (3, (38, 3020250), 20),
 -680095842: (13, (37, 366261), 48),
 -680101601: (17, (39, 3221046), 41),
 -680089380: (1, (21, 63), 9),
 -680088155: (5, (27, 1308383), 30),
 543017889: (7, (33, 508519), 34),
 543009292: (22, (36, 2288069), 71),
 543015424: (16, (36, 2288069), 73),
 543018988: (10, (23, 230690), 55),
 543038959: (4, (22, 75684), 34),
 -1635048141: (8, (16, 1213628), 16),
 -1635065356: (8, (16, 1213628), 16),
 -1635042126: (1, (9, 65), 3),
 -246531195: (10, (39, 2826551), 52),
 -246512637: (20, (40, 56914), 96),
 -246495903: (4, (17, 1806403), 11),
 -246489224: (11, (39, 2826551), 63),
 -246526934: (9, (39, 2826551), 66),
 -246497490: (1, (15, 66), 6),
 573813176: (29, (31, 26614), 122),
 573811422: (30, (32, 1837923), 140),
 573827514: (11, (32, 1837923), 32),
 573846654: (14, (31, 26614), 156),
 573847993: (11, (31, 26614), 104),
 573805438: (4, (10, 2067703), 53),
 573846226: (5, (31, 26614), 92),
 573825670: (1, (4, 67), 8),
 1069509147: (7, (7, 2183136), 23),
 1069483332: (7, (7, 2183136), 17),
 1069497213: (2, (3, 68), 11),
 1069474795: (3, (4, 685669), 16),
 1069465604: (6, (7, 2183136), 14),
 1069473176: (2, (7, 2183136), 9),
 1069482615: (1, (3, 68), 7),
 1069467037: (1, (3, 68), 8),
 1069486696: (5, (6, 800858), 36),
 -1336758013: (44, (82, 150698), 180),
 -1336774043: (37, (85, 1959393), 107),
 -1336754839: (24, (39, 17136), 101),
 -1336793702: (14, (36, 613930), 105),
 -1336767754: (45, (88, 2590110), 222),
 -1336759543: (19, (28, 31811), 127),
 -1336773206: (12, (86, 1291989), 62),
 -1336765546: (17, (47, 2716324), 124),
 -1336789547: (2, (29, 2109764), 10),

In [227]:
len(d)

13293564

In [228]:
print('to dataframe (less memory)')
userXproduct = pd.DataFrame.from_dict(d, orient='index')
del d

to dataframe (less memory)

In [229]:
userXproduct

             0              1   2
-1246903360  5    (8, 104690)  10
-1246907495  5    (6, 132412)  16
-1246927153  1         (3, 2)   3
-1246890562  5   (7, 2382766)  24
-1246906445  3   (7, 2382766)  14
...         ..            ...  ..
-1770221987  1  (24, 3421083)   2
-1770246134  1  (24, 3421083)   3
-1770232085  1  (24, 3421083)   5
-1770255944  1  (24, 3421083)   7
-1770262696  1  (24, 3421083)   8

[13293564 rows x 3 columns]

In [230]:
userXproduct.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13293564 entries, -1246903360 to -1770262696
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   0       int64
 1   1       object
 2   2       int64
dtypes: int64(2), object(1)
memory usage: 405.7+ MB

In [231]:
userXproduct.columns = ['nb_orders', 'last_order_id', 'sum_pos_in_cart']
userXproduct

             nb_orders  last_order_id  sum_pos_in_cart
-1246903360          5    (8, 104690)               10
-1246907495          5    (6, 132412)               16
-1246927153          1         (3, 2)                3
-1246890562          5   (7, 2382766)               24
-1246906445          3   (7, 2382766)               14
...                ...            ...              ...
-1770221987          1  (24, 3421083)                2
-1770246134          1  (24, 3421083)                3
-1770232085          1  (24, 3421083)                5
-1770255944          1  (24, 3421083)                7
-1770262696          1  (24, 3421083)                8

[13293564 rows x 3 columns]

In [232]:
userXproduct.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13293564 entries, -1246903360 to -1770262696
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   nb_orders        int64
 1   last_order_id    object
 2   sum_pos_in_cart  int64
dtypes: int64(2), object(1)
memory usage: 405.7+ MB

In [233]:
userXproduct.nb_orders = userXproduct.nb_orders.astype(np.int16)

In [234]:
userXproduct.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13293564 entries, -1246903360 to -1770262696
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   nb_orders        int16
 1   last_order_id    object
 2   sum_pos_in_cart  int64
dtypes: int16(1), int64(1), object(1)
memory usage: 329.6+ MB

In [235]:
userXproduct.last_order_id = userXproduct.last_order_id.map(lambda x: x[1]).astype(np.int32)
userXproduct

             nb_orders  last_order_id  sum_pos_in_cart
-1246903360          5         104690               10
-1246907495          5         132412               16
-1246927153          1              2                3
-1246890562          5        2382766               24
-1246906445          3        2382766               14
...                ...            ...              ...
-1770221987          1        3421083                2
-1770246134          1        3421083                3
-1770232085          1        3421083                5
-1770255944          1        3421083                7
-1770262696          1        3421083                8

[13293564 rows x 3 columns]

In [236]:
userXproduct.sum_pos_in_cart = userXproduct.sum_pos_in_cart.astype(np.int16)
userXproduct.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13293564 entries, -1246903360 to -1770262696
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   nb_orders        int16
 1   last_order_id    int32
 2   sum_pos_in_cart  int16
dtypes: int16(2), int32(1)
memory usage: 202.8 MB

In [237]:
print('user X product f', len(userXproduct))

del priors

user X product f 13293564

In [238]:
### train / test orders ###
print('split orders : train, test')
test_orders = orders[orders.eval_set == 'test']
train_orders = orders[orders.eval_set == 'train']

split orders : train, test

In [239]:
test_orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,,
2774568,2774568,3,test,13,5,15,11.0
329954,329954,4,test,6,3,12,30.0
1528013,1528013,6,test,4,3,16,22.0
1376945,1376945,11,test,8,6,11,8.0
1356845,1356845,12,test,6,1,20,30.0
...,...,...,...,...,...,...,...
2728930,2728930,206202,test,23,2,17,6.0
350108,350108,206204,test,5,4,14,14.0
1043943,1043943,206206,test,68,0,20,0.0
2821651,2821651,206207,test,17,2,13,14.0
803273,803273,206208,test,50,5,11,4.0

In [240]:
train_orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,,
1187899,1187899,1,train,11,4,8,14.0
1492625,1492625,2,train,15,1,11,30.0
2196797,2196797,5,train,5,0,11,6.0
525192,525192,7,train,21,2,11,6.0
880375,880375,8,train,4,1,14,10.0
...,...,...,...,...,...,...,...
2585586,2585586,206199,train,20,2,16,30.0
943915,943915,206200,train,24,6,19,6.0
2371631,2371631,206203,train,6,4,19,30.0
1716008,1716008,206205,train,4,1,16,10.0
272231,272231,206209,train,14,6,14,30.0

In [241]:
train

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [242]:
train.set_index(['order_id', 'product_id'], inplace=True, drop=False)
train

                     order_id  product_id  add_to_cart_order  reordered
order_id product_id
1        49302              1       49302                  1          1
         11109              1       11109                  2          1
         10246              1       10246                  3          0
         49683              1       49683                  4          0
         43633              1       43633                  5          1
...                       ...         ...                ...        ...
3421063  14233        3421063       14233                  3          1
         35548        3421063       35548                  4          1
3421070  35951        3421070       35951                  1          1
         16953        3421070       16953                  2          1
         4724         3421070        4724                  3          1

[1384617 rows x 4 columns]

In [243]:
users

,total_items,all_products,total_distinct_items,average_days_between_orders,nb_orders,average_basket
user_id,,,,,,
1,59,"{17122, 196, 26405, 46149, 14084, 13032, 26088...",18,19.000000,11,5.363636
2,195,"{45066, 2573, 18961, 23, 32792, 1559, 22559, 1...",102,16.285715,15,13.000000
3,88,"{17668, 44683, 48523, 21903, 14992, 21137, 324...",33,12.000000,13,6.769231
4,18,"{21573, 42329, 17769, 35469, 37646, 1200, 1905...",17,17.000000,6,3.000000
5,37,"{11777, 40706, 28289, 48775, 20754, 6808, 1398...",23,11.500000,5,7.400000
...,...,...,...,...,...,...
206205,32,"{20995, 21137, 22035, 21910, 17691, 31404, 210...",24,16.666666,4,8.000000
206206,285,"{16896, 44033, 18434, 16387, 21508, 45573, 102...",150,3.716418,68,4.191176
206207,223,"{20995, 18441, 45578, 47626, 33806, 22035, 235...",92,14.312500,17,13.117647
206208,677,"{1025, 20995, 47626, 8203, 5133, 38419, 27156,...",198,7.367347,50,13.540000
206209,129,"{14727, 26503, 22920, 26634, 13838, 11791, 248...",68,18.461538,14,9.214286

In [244]:
orders.memory_usage()

Index                     13684332
order_id                  13684332
user_id                   13684332
eval_set                   3421215
order_number               6842166
order_dow                  3421083
order_hour_of_day          3421083
days_since_prior_order    13684332
dtype: int64

In [245]:
users.all_products[22]

{2452,
 4217,
 4421,
 5212,
 5450,
 7088,
 7948,
 8518,
 13176,
 14678,
 14966,
 15392,
 15984,
 16987,
 17794,
 21903,
 22115,
 22935,
 22963,
 24506,
 24964,
 27171,
 27845,
 32096,
 32655,
 35221,
 36311,
 36724,
 38312,
 39040,
 41950,
 44359,
 44968,
 49533}

In [246]:
### build list of candidate products to reorder, with features ###

def features(selected_orders, labels_given=False):
    print('build candidate list')
    order_list = []
    product_list = []
    labels = []
    i=0
    for row in selected_orders.itertuples():
        i+=1
        if i%10000 == 0: print('order row',i)
        
        order_id = row.order_id
        user_id = row.user_id
        
        # order_id 에 귀속된 정보가 아닌데??
        # 이러다보니 예를들어 order_id 가 1187899 일때 product_id 가 17122 가 df 에 추가되는데,
        # 실제로는 order_id 가 1187899 일때 17122 product 는 없는 product_id 이다!
        # --> 이럴때는 label 이 False 로 결정된다.
        user_products = users.all_products[user_id]
        
        # user_products 는 set 인데, product_list 에 추가될 때, 원소 하나하나가 product_list 의 원소로 추가된다.
        product_list += user_products
        
        order_list += [order_id] * len(user_products)
        
        if labels_given:
            labels += [(order_id, product) in train.index for product in user_products]
        
    df = pd.DataFrame({'order_id':order_list, 'product_id':product_list}, dtype=np.int32)
    labels = np.array(labels, dtype=np.int8)
    del order_list
    del product_list
    
    print('user related features')
    df['user_id'] = df.order_id.map(orders.user_id)
    df['user_total_orders'] = df.user_id.map(users.nb_orders)
    df['user_total_items'] = df.user_id.map(users.total_items)
    df['total_distinct_items'] = df.user_id.map(users.total_distinct_items)
    df['user_average_days_between_orders'] = df.user_id.map(users.average_days_between_orders)
    df['user_average_basket'] =  df.user_id.map(users.average_basket)
    
    print('order related features')
    # df['dow'] = df.order_id.map(orders.order_dow)
    df['order_hour_of_day'] = df.order_id.map(orders.order_hour_of_day)
    df['days_since_prior_order'] = df.order_id.map(orders.days_since_prior_order)
    df['days_since_ratio'] = df.days_since_prior_order / df.user_average_days_between_orders
    
    print('product related features')
    df['aisle_id'] = df.product_id.map(products.aisle_id)
    df['department_id'] = df.product_id.map(products.department_id)
    df['product_orders'] = df.product_id.map(products.orders).astype(np.int32)
    df['product_reorders'] = df.product_id.map(products.reorders)
    df['product_reorder_rate'] = df.product_id.map(products.reorder_rate)

    print('user_X_product related features')
    df['z'] = df.user_id * 100000 + df.product_id
    df.drop(['user_id'], axis=1, inplace=True)
    df['UP_orders'] = df.z.map(userXproduct.nb_orders)
    df['UP_orders_ratio'] = (df.UP_orders / df.user_total_orders).astype(np.float32)
    df['UP_last_order_id'] = df.z.map(userXproduct.last_order_id)
    df['UP_average_pos_in_cart'] = (df.z.map(userXproduct.sum_pos_in_cart) / df.UP_orders).astype(np.float32)
    df['UP_reorder_rate'] = (df.UP_orders / df.user_total_orders).astype(np.float32)
    df['UP_orders_since_last'] = df.user_total_orders - df.UP_last_order_id.map(orders.order_number)
    df['UP_delta_hour_vs_last'] = abs(df.order_hour_of_day - df.UP_last_order_id.map(orders.order_hour_of_day)).map(lambda x: min(x, 24-x)).astype(np.int8)
    #df['UP_same_dow_as_last_order'] = df.UP_last_order_id.map(orders.order_dow) == \
    #                                              df.order_id.map(orders.order_dow)

    df.drop(['UP_last_order_id', 'z'], axis=1, inplace=True)
    print(df.dtypes)
    print(df.memory_usage())
    return (df, labels)

In [247]:
df_train, labels = features(train_orders, labels_given=True)

build candidate list
order row 10000
order row 20000
order row 30000
order row 40000
order row 50000
order row 60000
order row 70000
order row 80000
order row 90000
order row 100000
order row 110000
order row 120000
order row 130000
user related features
order related features
product related features
user_X_product related features
order_id                              int32
product_id                            int32
user_total_orders                     int16
user_total_items                      int16
total_distinct_items                  int16
user_average_days_between_orders    float32
user_average_basket                 float32
order_hour_of_day                      int8
days_since_prior_order              float32
days_since_ratio                    float32
aisle_id                              uint8
department_id                         uint8
product_orders                        int32
product_reorders                    float32
product_reorder_rate                float32
UP_orders                             int16
UP_orders_ratio                     float32
UP_average_pos_in_cart              float32
UP_reorder_rate                     float32
UP_orders_since_last                  int16
UP_delta_hour_vs_last                  int8
dtype: object
Index                                    132
order_id                            33898644
product_id                          33898644
user_total_orders                   16949322
user_total_items                    16949322
total_distinct_items                16949322
user_average_days_between_orders    33898644
user_average_basket                 33898644
order_hour_of_day                    8474661
days_since_prior_order              33898644
days_since_ratio                    33898644
aisle_id                             8474661
department_id                        8474661
product_orders                      33898644
product_reorders                    33898644
product_reorder_rate                33898644
UP_orders                           16949322
UP_orders_ratio                     33898644
UP_average_pos_in_cart              33898644
UP_reorder_rate                     33898644
UP_orders_since_last                16949322
UP_delta_hour_vs_last                8474661
dtype: int64

In [248]:
df_train[df_train.order_id == 1187899]

,order_id,product_id,user_total_orders,user_total_items,total_distinct_items,user_average_days_between_orders,user_average_basket,order_hour_of_day,days_since_prior_order,days_since_ratio,...,department_id,product_orders,product_reorders,product_reorder_rate,UP_orders,UP_orders_ratio,UP_average_pos_in_cart,UP_reorder_rate,UP_orders_since_last,UP_delta_hour_vs_last
0,1187899,17122,11,59,18,19.0,5.363636,8,14.0,0.736842,...,4,13880,9377.0,0.675576,1,0.090909,6.000000,0.090909,6,7
1,1187899,196,11,59,18,19.0,5.363636,8,14.0,0.736842,...,7,35791,27791.0,0.776480,10,0.909091,1.400000,0.909091,1,0
2,1187899,26405,11,59,18,19.0,5.363636,8,14.0,0.736842,...,17,1214,536.0,0.441516,2,0.181818,5.000000,0.181818,7,1
3,1187899,46149,11,59,18,19.0,5.363636,8,14.0,0.736842,...,7,8558,6953.0,0.812456,3,0.272727,3.000000,0.272727,1,0
4,1187899,14084,11,59,18,19.0,5.363636,8,14.0,0.736842,...,16,15935,12923.0,0.810982,1,0.090909,2.000000,0.090909,10,0
5,1187899,13032,11,59,18,19.0,5.363636,8,14.0,0.736842,...,14,3751,2465.0,0.657158,3,0.272727,6.333333,0.272727,1,0
6,1187899,26088,11,59,18,19.0,5.363636,8,14.0,0.736842,...,19,2523,1360.0,0.539041,2,0.181818,4.500000,0.181818,9,1
7,1187899,39657,11,59,18,19.0,5.363636,8,14.0,0.736842,...,19,5019,3846.0,0.766288,1,0.090909,3.000000,0.090909,1,0
8,1187899,12427,11,59,18,19.0,5.363636,8,14.0,0.736842,...,19,6476,4797.0,0.740735,10,0.909091,3.300000,0.909091,1,0
9,1187899,25133,11,59,18,19.0,5.363636,8,14.0,0.736842,...,16,6196,4586.0,0.740155,8,0.727273,4.000000,0.727273,1,0
10,1187899,35951,11,59,18,19.0,5.363636,8,14.0,0.736842,...,16,57895,43875.0,0.757837,1,0.090909,7.000000,0.090909,1,0
11,1187899,38928,11,59,18,19.0,5.363636,8,14.0,0.736842,...,16,13238,10958.0,0.827769,1,0.090909,4.000000,0.090909,1,0
12,1187899,10258,11,59,18,19.0,5.363636,8,14.0,0.736842,...,19,1946,1389.0,0.713772,9,0.818182,3.333333,0.818182,1,0
13,1187899,30450,11,59,18,19.0,5.363636,8,14.0,0.736842,...,13,21490,12178.0,0.566682,1,0.090909,5.000000,0.090909,8,4
14,1187899,49235,11,59,18,19.0,5.363636,8,14.0,0.736842,...,16,76360,59672.0,0.781456,2,0.181818,3.500000,0.181818,2,8
15,1187899,10326,11,59,18,19.0,5.363636,8,14.0,0.736842,...,4,5526,3603.0,0.652009,1,0.090909,5.000000,0.090909,6,7
16,1187899,13176,11,59,18,19.0,5.363636,8,14.0,0.736842,...,4,379450,315913.0,0.832555,2,0.181818,6.000000,0.181818,6,7
17,1187899,41787,11,59,18,19.0,5.363636,8,14.0,0.736842,...,4,35413,23015.0,0.649903,1,0.090909,7.000000,0.090909,6,7

In [249]:
labels

array([0, 1, 1, ..., 0, 0, 0], dtype=int8)

In [250]:
set(labels)

{0, 1}

In [251]:
print(df_train.shape)
print(labels.shape)

(8474661, 21)
(8474661,)

In [252]:
df_train.columns

Index(['order_id', 'product_id', 'user_total_orders', 'user_total_items',
       'total_distinct_items', 'user_average_days_between_orders',
       'user_average_basket', 'order_hour_of_day', 'days_since_prior_order',
       'days_since_ratio', 'aisle_id', 'department_id', 'product_orders',
       'product_reorders', 'product_reorder_rate', 'UP_orders',
       'UP_orders_ratio', 'UP_average_pos_in_cart', 'UP_reorder_rate',
       'UP_orders_since_last', 'UP_delta_hour_vs_last'],
      dtype='object')

In [253]:
#  order_id, product_id 빠짐!

f_to_use = ['user_total_orders', 'user_total_items', 'total_distinct_items',
       'user_average_days_between_orders', 'user_average_basket',
       'order_hour_of_day', 'days_since_prior_order', 'days_since_ratio',
       'aisle_id', 'department_id', 'product_orders', 'product_reorders',
       'product_reorder_rate', 'UP_orders', 'UP_orders_ratio',
       'UP_average_pos_in_cart', 'UP_reorder_rate', 'UP_orders_since_last',
       'UP_delta_hour_vs_last'] # 'dow', 'UP_same_dow_as_last_order'

In [254]:
# print('formating for lgb')
# d_train = lgb.Dataset(df_train[f_to_use],
#                       label=labels,
#                       categorical_feature=['aisle_id', 'department_id'])  # , 'order_hour_of_day', 'dow'
# del df_train

In [255]:
#d_train

In [256]:
# 각각이 뭘 의미하는지는..
# https://lightgbm.readthedocs.io/en/stable/Parameters.html

# params = {
#     'task': 'train',
#     'boosting_type': 'gbdt',
#     'objective': 'binary',
#     'metric': {'binary_logloss'},
#     'num_leaves': 96,
#     'max_depth': 10,
#     'feature_fraction': 0.9,
#     'bagging_fraction': 0.95,
#     'bagging_freq': 5
# }
# ROUNDS = 100

In [257]:
np.unique(labels)

array([0, 1], dtype=int8)

In [258]:
# labels 에서 0 값이 압도적으로 많음.

np.count_nonzero(labels)

828824

In [259]:
df_train.isnull().sum()

order_id                             0
product_id                           0
user_total_orders                    0
user_total_items                     0
total_distinct_items                 0
user_average_days_between_orders     0
user_average_basket                  0
order_hour_of_day                    0
days_since_prior_order               0
days_since_ratio                    47
aisle_id                             0
department_id                        0
product_orders                       0
product_reorders                     0
product_reorder_rate                 0
UP_orders                            0
UP_orders_ratio                      0
UP_average_pos_in_cart               0
UP_reorder_rate                      0
UP_orders_since_last                 0
UP_delta_hour_vs_last                0
dtype: int64

In [260]:
df_train.fillna(0, inplace=True)
df_train.isnull().sum()

order_id                            0
product_id                          0
user_total_orders                   0
user_total_items                    0
total_distinct_items                0
user_average_days_between_orders    0
user_average_basket                 0
order_hour_of_day                   0
days_since_prior_order              0
days_since_ratio                    0
aisle_id                            0
department_id                       0
product_orders                      0
product_reorders                    0
product_reorder_rate                0
UP_orders                           0
UP_orders_ratio                     0
UP_average_pos_in_cart              0
UP_reorder_rate                     0
UP_orders_since_last                0
UP_delta_hour_vs_last               0
dtype: int64

In [261]:
# df_train, labels 에서 8:2 비율로 train set, test set 으로 분할.

from sklearn.model_selection import train_test_split

X = df_train
y = labels

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [262]:
X_train

,order_id,product_id,user_total_orders,user_total_items,total_distinct_items,user_average_days_between_orders,user_average_basket,order_hour_of_day,days_since_prior_order,days_since_ratio,...,department_id,product_orders,product_reorders,product_reorder_rate,UP_orders,UP_orders_ratio,UP_average_pos_in_cart,UP_reorder_rate,UP_orders_since_last,UP_delta_hour_vs_last
4446952,506436,35652,6,145,104,30.000000,24.166666,13,30.0,1.000000,...,20,4266,2553.0,0.598453,2,0.333333,12.00,0.333333,1,8
5247210,1361770,5460,46,396,81,7.755556,8.608696,17,12.0,1.547278,...,16,7503,4129.0,0.550313,4,0.086957,3.75,0.086957,7,6
7792627,1189935,10132,70,622,129,5.246377,8.885715,12,4.0,0.762431,...,16,18040,12664.0,0.701996,1,0.014286,9.00,0.014286,56,6
5253702,1142557,42702,8,42,22,18.285715,5.250000,14,3.0,0.164062,...,13,156,45.0,0.288462,1,0.125000,6.00,0.125000,7,1
7897244,3144241,44449,30,545,159,11.758620,18.166666,15,11.0,0.935484,...,15,13597,5974.0,0.439362,2,0.066667,15.00,0.066667,11,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7204212,676612,38666,17,99,50,16.062500,5.823529,10,30.0,1.867704,...,3,627,261.0,0.416268,1,0.058824,5.00,0.058824,12,4
2234489,1377642,23357,59,749,359,6.155172,12.694915,9,20.0,3.249300,...,13,711,122.0,0.171589,1,0.016949,14.00,0.016949,44,8
4304572,1613575,27323,35,225,137,8.941176,6.428571,12,1.0,0.111842,...,16,10483,4619.0,0.440618,2,0.057143,3.00,0.057143,3,3
6550634,2175410,32689,18,339,155,14.882353,18.833334,8,14.0,0.940711,...,4,25974,15527.0,0.597790,3,0.166667,9.00,0.166667,13,7
6423388,1801401,26769,10,112,73,17.555555,11.200000,16,11.0,0.626582,...,13,1450,350.0,0.241379,1,0.100000,1.00,0.100000,7,1

In [263]:
# print('light GBM train :-)')
# bst = lgb.train(params, d_train, ROUNDS)
# # lgb.plot_importance(bst, figsize=(9,20))
# del d_train

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train[f_to_use], y_train)

LinearRegression()

In [264]:
### build candidates list for test ###

# df_test, _ = features(test_orders)
# df_test

In [265]:
# print('light GBM predict')
# preds = bst.predict(df_test[f_to_use])
# preds

train 시킬때 labels 에는 0, 1 값만 있었는데,

preds 는 왜 0, 1 이 아닌 실수? 가 나오나??

In [266]:
y_pred = model.predict(X_test[f_to_use])
y_pred

array([ 0.07267352,  0.24235769,  0.08100567, ...,  0.06736454,
       -0.07690705,  0.05189551])

In [267]:
type(y_pred)

numpy.ndarray

In [268]:
bin_pred = []

for pred in y_pred:
    bin_pred.append(1 if pred > 0.22 else 0)

y_pred = np.array(bin_pred)
y_pred

array([0, 1, 0, ..., 0, 0, 0])

In [269]:
Xyp_test = X_test
Xyp_test['label'] = y_test
Xyp_test['pred'] = y_pred
Xyp_test

,order_id,product_id,user_total_orders,user_total_items,total_distinct_items,user_average_days_between_orders,user_average_basket,order_hour_of_day,days_since_prior_order,days_since_ratio,...,product_reorders,product_reorder_rate,UP_orders,UP_orders_ratio,UP_average_pos_in_cart,UP_reorder_rate,UP_orders_since_last,UP_delta_hour_vs_last,label,pred
5489903,2252239,30471,24,167,66,5.608696,6.958333,14,2.0,0.356589,...,529.0,0.557429,2,0.083333,6.000000,0.083333,5,5,0,0
4438128,422449,47611,10,174,121,17.777779,17.400000,9,14.0,0.787500,...,1969.0,0.778877,3,0.300000,9.666667,0.300000,1,2,1,1
2858849,826633,46616,29,169,76,10.785714,5.827586,11,14.0,1.298013,...,7629.0,0.677290,2,0.068966,2.500000,0.068966,2,3,0,0
7840520,1330981,38456,34,185,109,6.424242,5.441176,19,30.0,4.669811,...,12023.0,0.560487,1,0.029412,3.000000,0.029412,29,7,0,0
8090171,2802722,33443,17,396,173,19.875000,23.294117,22,22.0,1.106918,...,962.0,0.484391,3,0.176471,14.000000,0.176471,4,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5965465,1825460,21903,66,700,269,4.630769,10.606061,12,7.0,1.511628,...,186884.0,0.772500,20,0.303030,5.200000,0.303030,12,2,0,1
7932329,3015332,46842,19,204,103,10.333333,10.736842,17,30.0,2.903226,...,5984.0,0.672360,2,0.105263,11.000000,0.105263,13,6,0,0
5712308,1315167,44514,16,153,95,17.266666,9.562500,12,18.0,1.042471,...,3247.0,0.501003,2,0.125000,5.000000,0.125000,10,2,0,0
1937805,2533828,15591,100,1365,251,3.070707,13.650000,14,2.0,0.651316,...,400.0,0.401204,1,0.010000,1.000000,0.010000,89,7,0,0
3136447,1443179,29487,62,464,160,5.950819,7.483871,14,29.0,4.873279,...,25642.0,0.637670,1,0.016129,5.000000,0.016129,20,2,0,0

In [270]:
# label 기준으로 order_id:product_id 딕셔너리 생성

d = dict()
for row in Xyp_test.itertuples():
    if row.label:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)

for order in Xyp_test.order_id:
    if order not in d:
        d[order] = 'None'

test_orderIdXproductIdByLabel = pd.DataFrame.from_dict(d, orient='index')
test_orderIdXproductIdByLabel.reset_index(inplace=True)
test_orderIdXproductIdByLabel.columns = ['order_id', 'products']

test_orderIdXproductIdByLabel

        order_id                      products
0         422449              47611 21497 6867
1        2322330                   24852 19634
2        3213366                   32211 49683
3         528601  10054 28412 44487 2012 21938
4        2139040             16797 24925 33120
...          ...                           ...
128068    303481                          None
128069   2287766                          None
128070   1911695                          None
128071    927216                          None
128072   1914307                          None

[128073 rows x 2 columns]

In [272]:
# pred 기준으로 order_id:product_id 딕셔너리 생성

d = dict()
for row in Xyp_test.itertuples():
    if row.pred:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)

for order in Xyp_test.order_id:
    if order not in d:
        d[order] = 'None'

test_orderIdXproductIdByPred = pd.DataFrame.from_dict(d, orient='index')
test_orderIdXproductIdByPred.reset_index(inplace=True)
test_orderIdXproductIdByPred.columns = ['order_id', 'productsByPred']

test_orderIdXproductIdByPred

        order_id                 productsByPred
0         422449          47611 6846 21497 6867
1        2182765  19191 25495 21386 15125 23432
2        2322330        24852 21137 21903 22475
3        3213366                          32211
4         528601               10054 38400 2012
...          ...                            ...
128068   1419481                           None
128069    378617                           None
128070    303481                           None
128071    927216                           None
128072   1914307                           None

[128073 rows x 2 columns]

In [274]:
df_forMeanF1Score = pd.merge(test_orderIdXproductIdByLabel, test_orderIdXproductIdByPred, on='order_id', how='inner')
df_forMeanF1Score

        order_id                      products           productsByPred
0         422449              47611 21497 6867    47611 6846 21497 6867
1        2322330                   24852 19634  24852 21137 21903 22475
2        3213366                   32211 49683                    32211
3         528601  10054 28412 44487 2012 21938         10054 38400 2012
4        2139040             16797 24925 33120                    33120
...          ...                           ...                      ...
128068    303481                          None                     None
128069   2287766                          None                    24891
128070   1911695                          None                    12341
128071    927216                          None                     None
128072   1914307                          None                     None

[128073 rows x 3 columns]

https://www.kaggle.com/code/hongweizhang/how-to-calculate-f1-score
참고하여 mean f1 score 계산해보기.

In [278]:
def eval_fun(labels, preds):
    labels = labels.split(' ')
    preds = preds.split(' ')
    rr = (np.intersect1d(labels, preds))
    precision = float(len(rr)) / len(preds)
    recall = float(len(rr)) / len(labels)
    try:
        f1 = 2 * precision * recall / (precision + recall)
    except ZeroDivisionError:
        return (precision, recall, 0.0)
    return (precision, recall, f1)

In [279]:
res = list()
for entry in df_forMeanF1Score.itertuples():
    res.append(eval_fun(entry[2], entry[3]))

res = pd.DataFrame(np.array(res), columns=['precision', 'recall', 'f1'])

res.describe()

           precision         recall             f1
count  128073.000000  128073.000000  128073.000000
mean        0.449274       0.464926       0.437581
std         0.446022       0.452810       0.428532
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.333333       0.500000       0.400000
75%         1.000000       1.000000       1.000000
max         1.000000       1.000000       1.000000

In [280]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)
print(f'정확도 : {accuracy}')
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

정확도 : 0.8719182410160166
              precision    recall  f1-score   support

           0       0.94      0.92      0.93   1529415
           1       0.36      0.42      0.39    165518

    accuracy                           0.87   1694933
   macro avg       0.65      0.67      0.66   1694933
weighted avg       0.88      0.87      0.88   1694933

[[1408315  121100]
 [  95990   69528]]

In [82]:
# df_test['pred'] = preds
# df_test

,order_id,product_id,user_total_orders,user_total_items,total_distinct_items,user_average_days_between_orders,user_average_basket,order_hour_of_day,days_since_prior_order,days_since_ratio,...,product_orders,product_reorders,product_reorder_rate,UP_orders,UP_orders_ratio,UP_average_pos_in_cart,UP_reorder_rate,UP_orders_since_last,UP_delta_hour_vs_last,pred
0,2774568,17668,13,88,33,12.000000,6.769231,15,11.0,0.916667,...,2110,1220.0,0.578199,5,0.384615,3.600000,0.384615,2,3,0.277256
1,2774568,44683,13,88,33,12.000000,6.769231,15,11.0,0.916667,...,22275,11981.0,0.537868,2,0.153846,9.500000,0.153846,7,1,0.101275
2,2774568,48523,13,88,33,12.000000,6.769231,15,11.0,0.916667,...,5129,2376.0,0.463248,2,0.153846,6.500000,0.153846,4,1,0.098505
3,2774568,21903,13,88,33,12.000000,6.769231,15,11.0,0.916667,...,241921,186884.0,0.772500,8,0.615385,4.250000,0.615385,1,0,0.503814
4,2774568,14992,13,88,33,12.000000,6.769231,15,11.0,0.916667,...,29069,16942.0,0.582820,2,0.153846,7.000000,0.153846,6,0,0.110236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833287,803273,44532,50,677,198,7.367347,13.540000,11,4.0,0.542936,...,311,124.0,0.398714,1,0.020000,11.000000,0.020000,7,3,0.031922
4833288,803273,46069,50,677,198,7.367347,13.540000,11,4.0,0.542936,...,9240,5420.0,0.586580,7,0.140000,5.571429,0.140000,4,1,0.153825
4833289,803273,12791,50,677,198,7.367347,13.540000,11,4.0,0.542936,...,1393,755.0,0.541996,1,0.020000,12.000000,0.020000,7,3,0.046873
4833290,803273,14332,50,677,198,7.367347,13.540000,11,4.0,0.542936,...,6046,1424.0,0.235528,1,0.020000,9.000000,0.020000,8,8,0.010720
4833291,803273,4605,50,677,198,7.367347,13.540000,11,4.0,0.542936,...,73167,43269.0,0.591373,1,0.020000,18.000000,0.020000,9,3,0.053847

In [83]:
# TRESHOLD = 0.22  # guess, should be tuned with crossval on a subset of train data

# d = dict()
# for row in df_test.itertuples():
#     if row.pred > TRESHOLD:
#         try:
#             d[row.order_id] += ' ' + str(row.product_id)
#         except:
#             d[row.order_id] = str(row.product_id)

In [84]:
# d

{2774568: '17668 21903 39190 47766 9387 43961',
 1528013: '21903 38293',
 1376945: '28465 27959 35640 42585 8670 34658 14947 35948 8309',
 1356845: '14992 7076 40377 10863 21616 13176',
 2161313: '11266 10441 12427 37710 14715 27839',
 1416320: '5134 21903 21137 24852 17948 41950',
 1735923: '24629 17008 2192 196 18174 31487 15131 35123 12108 34690 14252',
 1980631: '13575 6184 9387 46061 13914 41400 22362',
 139655: '21903 22935 27845 13176',
 1411408: '43758 22008',
 2940603: '7521 31615',
 1192143: '24852',
 280888: '12440 19213 41406',
 3202221: '49215 7781 21137 43692 4793 45774 17630 24852 45364 13629 11130 46979 2452 9637 21927 6069 39911 9203',
 3222866: '37131 32912 7969 38690 33198 8501 32441 18894 34254 35921 7039 15718',
 707453: '45066 42585 26209 48230 44142 21137 47766 694 18150 24852 21267 32030 4942 39275 37766 21903 28156',
 1320132: '11079 44632',
 882556: '28289 17794 32653 21903 42768 24852 25890 48679 28204 28849 12857 46906 41149 5450 7371 1870 8424 30962 9076 5373',
 2431024: '22035 17044 27555 34217 13740 39928 6975 5699 5450 5322 24799 29926 13176',
 2827745: '17924',
 2174416: '40604 10017 36929 15712 18798 13176',
 1325316: '26165 47766 24852 24964',
 320326: '24852 41896 1208 42828 45646',
 2128599: '7628',
 1099519: '22035 28058 26351 13176',
 144494: '16959 23106 14947 46260 39108 23431',
 3024191: '27521 30233 18362 39275',
 2817181: '30219 18828 41618 28058 22559 35782 19677 1377 47867',
 2883656: '24852 21497',
 1970262: '21567 12872 48364 21267 13176 24964 29071 21903 28058 22451 4562 27105',
 2681168: '11777 47167 22151 34993 42736 40198 37131 46886 38739 36735 26604 4605',
 1345233: '21903 21137 40146 13176 1695',
 2412507: '18023 5258 21137 43352',
 139487: '21386 6184 196',
 3302990: '24852 27344 21616',
 1189294: '21137 26317 27966 13176 25527',
 1368861: '1940 23334 14335 5445 6884',
 1626588: '36118 14365 31808',
 36863: '27521 24964 21137 22935 32177 45007 17872 13176 10749',
 969538: '31263 38461 11951 41651 23319 13643 8030 30120 45054',
 688716: '35108 5077 47209 13176',
 1058680: '32768 2563 44570 12339 44106 23665 4210 46735 14992 30356 41273 43872 47006 13733 32165 470 16890',
 831748: '5782 36431 44142 40174 33791',
 2710859: '21249 24852 47766 45104 40897 45007',
 1500625: '1674 40332 10673 38200 46138 8769 26700 29646 16464 40531 16855 36086 34300',
 726111: '47766 41165 9554 12756 44632 13176',
 2567075: '6692 12381 12896 12392 35951 47766 31481 37646 26384 30489 18727 9124 34217',
 1855063: '27845 13176 17794 32655 3988',
 2588536: '10831 28289 21137 26790 48335 2825 24852 33572 47521 23986 49111 5612',
 1658650: '47626 19057 28289 14992 47766 40706 24852 44359 1890 44910 21903 45007 19934 5612 39928',
 36740: '13841 27726 3176 29805 10374 26312 36058 7393 36126 25976 35199 25495 2010 20463',
 2675738: '39685 5031 37543 46226 46551',
 3052059: '9421',
 2943466: '7559 5258 11790 21137 24852 27423 38313 13870 2228 45633 44910 5876 3957 31225',
 1920100: '34458 22582 37687 30391 41658 2748 49235 9444 19173 47209 4844 17652 13176 46969 22908',
 2993890: '26648 13176',
 1172828: '4210',
 2587424: '13060',
 2691733: '41658 47990',
 2769561: '18434 9224 45066 49683 36389 20520 42585 47209 47734 11941 11447 42699 21227 40706 24852 43290 3376 44359 42824 37192 16759 13176 46979 24964 21405 16797 22963 30135 45007 41950 27104 38383 23543',
 2029462: '17794 19348 38453 35132 11090 8424',
 1817659: '34304 28934 26128 35121 25659 25666 3957 4472',
 470997: '28465 18625 7515 8043 4350',
 569815: '23296 14852 42372 27275 24852 16797 15902 4920 12218 49496 8671 100 26094 46842',
 2517930: '49683 24852 24964 35221 16291',
 2378064: '6287 49683 45603 30776 28535',
 169451: '13176',
 2986791: '15386 28204 13870 26209 47717 17526 16521 22227 12023 13176 17794 21903 2966 21914 21405 16797',
 1239084: '23044 10768 5141 49235 6760 21137 12469 30391 23233 33527 24852 28985 27454 44359 17758 13166 16759 32655 22935 12700 21936 10685',
 3191854: '49191 4809 40174 41806 19057',
 1132910: '30233 38948 4138 28204 28740 27744 24184 47766 1194 1217 21704 42701 23265 28906 5876 23288 42750 24852 41255 28476 41290 27086 17872 37330',
 2088686: '5380 27531 29837 26128 30489 31553 39877 46802 40545 5479 40311 39928',
 3358588: '19348 24852 22959 25804 27730 4210',
 1283403: '47209 35951 21137 40604 44229 13176 8174 38383 36342 5115',
 2098786: '4482 13447 29344 19660 26324 6873 8929 27509 19446 13176',
 795256: '8193 9839 10385 8859 48364 23288 30489 3376 28985 18234 22418 45007 6649',
 2399184: '28199 77 49235 47229 21137 10385 39570 4781 26317 42719 33043 24852 4920 31040 36695 19819 40310 38275 32139 9122 11710 18370 27086 22993 23516 36316 48112',
 862070: '46229 20655 24852 11136 17352 5612',
 313331: '19660',
 3241020: '21709',
 1549872: '1160 47931 5468',
 1653971: '3849 24852 33198 14901 18358 15424 3318',
 3161938: '47626',
 2318705: '20995 47209 21616 30391 35547 27881 5876 35140 8518 21367 24964 21903',
 1882331: '24852 2966 47931 27579 5312 18523',
 1696774: '36099 43967 17615 41680 1366',
 2686576: '9387 46802 21872',
 3048274: '26309 15399 19598 13712 34224 20084 45599',
 1141566: '4920 43352',
 3069370: '27845',
 2969880: '24964 21903 16185 13263 35168 9076',
 2726815: '15424 24852',
 1862801: '49683 17454 49235 35951 27845 7948 24852 42342',
 865014: '5776 34969 16797 11422 18127 11361 24184',
 2572142: '13225 24852 27292 16797',
 1379299: '1559',
 1579044: '47626 49683 34358 24852 21903',
 346816: '3873',
 3116687: '26882 43409 47540 43511 39454 23405 47987 35759 43967 3061 33793 39979 25810 31981 25860 46541 30251 34355 16096 42895 28577',
 158824: '15124 33819 28842 47793 15925 4920 46023 19660 33231 46416 723 10070 4317 26209 27238 4591 42352 44536 23803 46844 44799',
 2306683: '26683 28476 23765',
 939128: '24852 46906',
 1242621: '40236 3495',
 82598: '13176',
 1177551: '31380',
 61423: '651 6184 12078 25017 18023 35561 8057',
 1105633: '21137 24852 28204 38508',
 930307: '2116 4357 24852 22677 39190 2805',
 588332: '6656 31350 21137 19875',
 2964001: '14233',
 1971668: '6656 28226 46667 4175 8809 28849 37065 19660 9934 49383 33000 48364 40203 17704 28985 18234 5991 13176 21405 38837 34243 5578 38374',
 1452849: '46667 26209 47209 13984 30391 5876 43295 44359 21903 21938',
 2242945: '22035 49175 25138 35951 7801 27845 6347 16589 39121 8412 17652 40706 28934 42265 2846 31528 29487 46906 46969 49075',
 465851: '40910 79 27023 24852 30135 13942 45948',
 1080218: '24852',
 3088338: '21454 26706 42347',
 3037363: '20161 48199',
 2305779: '22938 48174 12341 42043',
 632748: '28449 28080 24701',
 2770483: '44422 21543 9018 27325',
 143045: '22035 40002 8277 43654 21137 8479 40268 11100 39275 21903',
 2481483: '19660',
 1299805: '42736',
 2364890: '5322 18095 19376',
 1979817: '1194 21709 14947 5876 4472',
 2193705: '21903 40742 6184 4149 12341 40120 6087 39275 8048 38768',
 1160743: '21903 39732 27845 4193 13176',
 239545: '13702 21137 19862 30489 5282 2482 30774 43961 27966 29127 27086 8654 42450 36830 42342 35951 41588 34295 9339 34943',
 729099: '12341',
 906822: '4920 38768 8571',
 887842: '20995 24082 25720 45763 21295 33120 13176',
 1185710: '28204 19508 45633 9839 21137 30391 27845 21775 21267 24852 38689 39216 30024 14715 24964 21903 22935',
 1237726: '24852 46654 39877 25671 26209 44142',
 572050: '31846',
 1753574: '42606 24184 10385 21137 47766 27845 6348 24852 25890 19348 38293 18838 22935',
 442242: '7521 3957 25718',
 3376600: '20995 13829 8710 17949 48679 13870 49215 41540 15950 5212 19048 47209 31869 47761 46747 20127 26283 35510 4792 43726 19678 46820 26856 48878 7923 2295 26369 12034 37646 24852 42265 15649 14633 43819 27966 48476 13176 45957 21903 22935 33754 14811',
 2557552: '21903 24852 2809 1468',
 2391680: '21137 27845 26369 42265 38689 39275 13176 21903 21938 45007',
 2196307: '17429 35221 29370 31040 47943 14924 5077 44632 33754 4957 3957 40571',
 198531: '24195 24852 30442',
 1281623: '24852 25753 33055 162 25513 49235 8277 1511 6638 22908 36735',
 1309059: '21903 24852 47766 10749',
 654116: '49191 25146 44116 24669 44156 36011 6829 22242 23296 45825 32047 48004 26505 16797 7607 16844 46572',
 2761369: '35921 49236 47209 26800 28378 33572 13176 22935 27061',
 1918388: '14084 42265 25931 39639 42585 27104 33120',
 3073553: '18434 2063 14947 35951 4210 35503 24852 340 7054 16797 12703 34243 486 33768',
 1266894: '19761',
 2185735: '47492 12807 37022 10915 21174 1463 43961 27966 34243 49241 47209 3957',
 1676841: '38928 49235',
 1088553: '27845',
 65467: '24852 35140 44910 3957',
 2314209: '28581 45763 33129',
 3407461: '43154 24852',
 2372519: '8193 41722 6533 8590',
 2247264: '18176 41549',
 2651333: '19638 40174 1321 28985 432',
 1990335: '43598 43961 21663',
 668032: '6347',
 2730481: '39993 14947 19057 47766 30391 7916 4920 24964 19348',
 1032696: '47626 37646 24852 47766 42265 9755 46676 4957',
 3355968: '43295 30169 35951 13176',
 1945605: '44292 16262 35221 5785 12576 47144 42828 21709 27086 8021 44632',
 1098067: '3585 14467 37158 4421 36550 23644',
 2890507: '1409 8710 43432 16663',
 2519594: '45066 47626 14874 16953 26209 47209 43643 21137 39570 2748 46313 24838 42265 13083 35108 46381 27966 41844 13176 37245 45965 7054 45504 33731 6104 37355',
 1493300: '24852 18465 17706 13113 8277 7781 13176',
 476412: '49683 24852 5450 32153',
 2151106: '30849 21137 16541 29345 47141 10151 4776 28227 42820 24269 43352 49131 13176',
 293692: '34050 27548',
 836275: '12817 24852 37017 39982 16816 10673 35376 32566 43967 5460 41950 13293',
 1956871: '3999 23719 28204 34502 4443 13921 5101 35951 36214',
 68117: '9605 49030 21386 17676 28204 26165 28092 17341 12870 35914 21333 18284 30320',
 3387692: '47616 34448 21137 24221 21162 27845 18670 24852 4920 13176',
 543041: '26497',
 1455788: '28296 23819 40354 18104 33852 4674 48071 41805 27612 23276 1775 43772',
 1490499: '47626 24852 11140',
 2055323: '30862 13176',
 1324947: '20995 12847 2611 36406 34448 21137 27966 13712 16797',
 891657: '35921 9337 12953 22721 46313 20734 47388 28476 35687 13176 43484 18413',
 3112323: '36258',
 1241495: '15906 8277 44632 18020 8309 21137 39589 25837 36082 19741 28465 9018 13629 13176 45948 35221',
 1112531: '24857 38689 43712 35045 15613',
 1545001: '30233 36929 17487 21607 21616 26810 24852 27966',
 1267591: '24852 4920',
 944071: '13944',
 606811: '10125 21903 21137 1940 24852 31257 19354 18465 36717',
 1901134: '48395 49683 24852 30003 4163 43209 38996 49381',
 1461409: '38159 21137 37288 32864',
 1036348: '23044 47209 13176',
 1803743: '43631 13249',
 3259141: '13176',
 2377342: '42360 11182 34234 12508 27360',
 2080645: '21019 27196 19057 20166 47329 41290 13176 39303 1940 34234',
 599014: '47626 26384 20114 44570 9387 28118 49381',
 587740: '17317 40621 47965',
 877079: '23427 24852 14233 16290 34 26800 31683 18389 9438 22888',
 1887969: '24852',
 3100473: '17948 2078 48679 39984 17461 47209 21137 34458 32935 35547 5876 13083 28985 27966 44359 34126 19820 36724 13176 24964 21903 22935 20899 27104 10749',
 123641: '48527 19348 26604',
 2104476: '20995 21903 24852 35221 47766 48679 37687 30391 43961 18370 27845 5959 45007 8277 5077 48476 31343 39928',
 3025259: '32018 36144 10036 19511 12099 22470 32740 3434 28269',
 203528: '18465 10831 48745 9839 21137 47766 27845 43768 22825 27966 13176 21903 11710 45504 45007 19934 39928 10749',
 3409156: '31564',
 1094091: '34050 24476 4793 27966 39527 30440',
 764108: '27522 18552 1695 43693 40261 20298 24920 42719 8047 13176',
 1386850: '32134 43789 32655 22959 18224 30391 24125 45007 48988 27104 31717 21616 3952 46194',
 458905: '28682 43957 13885',
 728126: '35914 2229 24852 15709 5535 30117',
 1886032: '38273 9346 34050 46724 40709 10761 28553 21903 44560 21267 3481 35108 13733 2094 29487 28985 40377 16185 11068 35004 4421 581 12872 22474 42828 4942 32717 35921 46802 5337 26723 19048 36606 45679 13176 4605 24830',
 630214: '24852 6187 9901 14901 45622 6340 2120 11869 23909 44799',
 1533834: '24852 25108 13524',
 736391: '14979',
 1470781: '43961 27966',
 2360269: '22151 13834 4879 2962 39581 36126 45761 25804 27086 5077 49628 49141',
 1237146: '49683 24852 49235 16249',
 3128663: '26881 28364 31759 13424',
 2535468: '14979 6184 25653 12341 13176',
 1619858: '24964 47626',
 999537: '30850 32951 32700 23909',
 162228: '38662 3999 4920 45763 21616 13176',
 160588: '29848 34668 13176',
 2914973: '46979 47626 24852 22935 25890 43352 29926 36216',
 153911: '43400 18465 33198 44471 11984 30035 605 47209 44910 20598',
 1530394: '22035 39527 47209 43122 21137 29370 19660 42828 432 5077 10199',
 1018776: '32689',
 3158092: '12697 18987 35123 39604 46041 33909 35194 4605',
 1788231: '47626 6182 2091 28204 26209 22151 34969 11937 1194 35522 46820 40198 24852 17183 14133 37197 21903 21417 22959 45007 23543',
 2580369: '35939',
 2866997: '15872 21137 24852 32665 29987 23986 27104 27000',
 1629029: '5258 21903 17948 48679 27695 1337 9421 40156 27104 7922 13176',
 1158445: '28289 24583 47626 21903 36522 49075 8903 8424 19068 3583',
 1184388: '31396 32837 34838 40310',
 1261211: '45066 21137 41618 2450 432 17224 21607',
 2976551: '35547',
 524582: '49683 27845',
 2742254: '20738 47747 47626 24852 23962 23909 29553',
 39629: '24838 11576 5479 13176',
 2496659: '20995 45588 13375 6799 40621 23037 27360 17122 31981 24852 10032 27966 26456 40376 12218 19389 30661 12782',
 2676901: '18564 35846 15134 34230 37886',
 1078531: '22935 22950 48171 41259 35510 4920 18618 5438 5450 41551 21077 26209 8174 19057 13176',
 2278368: '11776 4357 37646 39190 38944 36397 38837 28228 27105 46565 5876 13176',
 3196397: '40198 25211',
 695415: '44632 14947 27247 20119 36011 21709 35221',
 2121710: '23430 2694 30630 17333 13548',
 2904666: '47766 30489 21938 30391 28985 19660 45007 46676 41950 26209 31717 47209 32747 18027 21872 13176',
 1497682: '2855 33081 48205',
 1726557: '16797 12341',
 178418: '45200 24852 5785 22935 27966 5450',
 391588: '7175 19057 41593 34969 40604 11933 27845 6489 33120 13176 13249',
 1055153: '28204 38456 6343 40174 25890 4920 41844 34214',
 1170109: '16558 30639',
 2471966: '45066 47626 48657 28204 1582 48205 22108 26209 17008 20114 49340 31423 26321 36056 46844 47366 276 4895 23909 14286 27096',
 1994195: '36865 1930 21903 24852 36011 28465 27344 24799 9839',
 2513235: '24852 29010 38511',
 2286484: '38155 22695 19042 1509 373',
 1624388: '33000 8571',
 3020209: '42445 13176 29307',
 3255859: '39812 24964 651 29326 17807 47766 22935 42265 15261 38689 22308 44359',
 2005070: '48775 21903 42768 15503 6948 1199 4799 27845 38777',
 1237487: '27690 24852 4451 1511',
 2688906: '47209 5876 30489 13176 24964 22935 45007 27104 1516 4597',
 2170508: '1379',
 2563471: '1 29698 8859 34862 48304 40240 18359 3260 22340 4047 30553 14564 18790 47977 36843 43631 21757 13951',
 2318244: '45066 36011 13176',
 242483: '45570 24838 44683 12341 27845',
 1272828: '24852 16797 38817',
 362619: '39046 37776 36923 38730 36316',
 1168266: '42887 1940',
 141543: '45154 36107 9175',
 3183367: '44422 40199 24489 35951',
 1797124: '196 22802',
 89381: '11422 49191 43631',
 1423050: '27744 24838 26683 42443 39276 43295',
 1249392: '28928 29447 7054 24830 35221 47766 26914 36036 44632 25949 19057 28535 13176',
 3311636: '47209 5876',
 439205: '24852',
 420520: '9544 9387 49647 24852 5782 3512 16607',
 2754200: '42504 24852 28204 35628 39982 10819 25804 30696 31981',
 2558743: '16396 8277 94 47209 28785 21137 5785 19611 26278 27845 43738 11520 43295 28476 27966 19272 5484 13176 16847 10199 37349',
 1287397: '28204',
 1519990: '24852 47766 27086 42736',
 1671355: '37646 21903 24852 39928 46676 47209 25837 11123',
 2791256: '21903 21137 19348 24852 30489 17949 34217 24631 24799 10343 47209 19057 40310',
 2520517: '5985 21292 32689 12341 8571',
 1930805: '31651 47402 13176',
 1502827: '38453 49235 5612 27845',
 1054066: '27288 47156 10467',
 109911: '46979 24964 47626 21903 49683 24852 38293 47766 5168 19893 28985 43961 46802 26209 46206',
 934581: '47626 22935 48034 37687 27966 35140 32864 26209 5479 26604 14833',
 311086: '13841 7393 29447 24852 8501 43867',
 2997340: '1541 32133 30727 45061 17419 49683 24852 148 47766 1685 15130 25890 40997 22959 29487 23734 4920 41787 40136 8424 7156 24184',
 216270: '17794 37646 34448 21137 22035 13858 29370 1215 43713 42450 23765 8022 36695 24024 24535 11352 47209 13176 39928 43643',
 889691: '14858 46485 20392 3896 27086 13646 36070 5612 19966',
 2676926: '47626 37646 20114 47766 2966 1313 34380 47209 44142',
 1146075: '32655 5785 24125 42445 5353 16759',
 3168076: '40706 21903 44949 28158 39275 13176',
 2316252: '32403 21573',
 1199748: '47626 44570 47766 24218',
 2864780: '21903 24852 16168 4792 13249 48857 18523 35045',
 2101491: '8277 26209 21137 47766 6348 9444 30949 13560 26369 24852 42265 8518 36695 6532 3464 21938 31717 16363 38383 10749',
 2898328: '5547 30923 9698 49271',
 2308945: '34050 48645 37766 47626 40332 24852 169 19508 28985 30960',
 551385: '49683 8859 22228 24852 21903 22959 19376',
 2065552: '14348 17426 16921 20019 34358 39491 2120 18019 40586 20114 14999 35003 22309 20842 29553 13176 21376 26510 3990 29623 28092 49633 13802 44533',
 2619795: '8744 48205 24184 47766 22695 22186 9387 37072 24852 20378 432 49098',
 92308: '40223',
 2869963: '11520 21903 42265 6347',
 221995: '35336 18443 32478',
 2364225: '11777 40992 38444 26209 11874 48742 3701 43127 21158 32433 8920 45290 42736 46841 43772 47890 24852 29487 22831 35123 6473 5450 12620 36186 32115 15756 6046 13230 432 32689 37330 4562 31706 42460 49139 4605',
 2383884: '12427',
 1409336: '26209 651 40593 21137 47766 47788 29370 27845 41220 40199 3880 44359 31073 13176 43394 27548',
 2985179: '41220 23383 31717 35951 46584',
 2510588: '27695 36929 12395 13176 46990',
 2724284: '22054 39475 25558 42840 12923',
 406182: '33827 32303 35921 8800 47226 21689 10032 1843 33614 3919 23909 37250 38793 45961 23957 8149',
 3359540: '16797 30633',
 1382149: '40198 12456 28842 32177 4920 46175 13176',
 113476: '5373 18883 47734 4605 33279',
 172394: '21137 47766 25890 6985 17872 13176',
 1017522: '45104 44632 40604 27325 13176 46979 21903 35221 25005 34243 5578 31717',
 1148846: '34466 27985 49131',
 1389899: '9741 47626 19894 17080',
 383770: '7681 47626 42526 48559 5484',
 1344043: '23565 16398 44570 8736 47766 11945 27949 38205 31634 26576',
 2172762: '1689 25466 20378 10673',
 1635368: '24139 26706 4210 21137 44201 10036 13176 46969',
 624714: '42659 27945 1090 34117 48205 2639 7901 3044 23909 44536',
 3102231: '44142 1940',
 3070543: '47616 18441 49683 27695 45633 48720 11440 27845 3855 41242 22312 4920 46906 9534 13176 38274 28597 32717 48595 2014',
 1378259: '24852 42834 3431 7533 9623 33791',
 951592: '5385 34111 5456',
 2270224: '40486 33351 24852 38185',
 3235117: '22035 5392 36117',
 1720960: '11266',
 2279794: '9121 36011',
 1248981: '31292 24279 24852 11140 31215',
 1516872: '47626 24852 47766',
 533523: '49235 7781 31960 27966 13176 13203 1940 44980 47570 5603 8174',
 20345: '45066 14870 15399 26165 36406 5212 47209 21137 5785 37029 12456 27344 25832 7916 11520 37646 24852 42265 26909 41787 27966 3957 13176 27548 6568 15290 39408',
 2771992: '39832 45596 9508 37158 28199 4792 14778 17982 24799 33894 36978',
 3118092: '6218 46667 26209 41065 26746 44683 21137 6291 47766 1689 3245 30391 5825 43768 40706 41259 26940 27966 34126 39275 16759 6008 17794 39877 45007 27104 31717 38383 5114',
 1242668: '24852 18071 34262 43252 44925',
 352630: '1203 22713 19660 32566 13176 27521 21903',
 2072510: '11520 24852 2086 4142 5450',
 1237738: '25132 15424 35921 20082 21635 21131 21137 39581 9387 41722 47367 21288 27966 40285 30569',
 121516: '19209 7693 48527 46483 24852 1313 12845 32303 49492 8670 39922 24053',
 1523498: '21333 28515',
 2239739: '37766 47766 20631 33198 49201 2611 22969 19006 27845 48967 23375 6489 22122 31343',
 1970457: '23044 37388 22035 47209 4210 13431 48255 27307 30391 4793 28862 41165 40199 21267 42265 47912 35628 3397 42342 13176 8087 46584 13819',
 2525507: '16973 47209 21137 4781 24852 13176 22935 3481 46069 10749',

In [85]:
# for order in test_orders.order_id:
#     if order not in d:
#         d[order] = 'None'

In [86]:
# d

{2774568: '17668 21903 39190 47766 9387 43961',
 1528013: '21903 38293',
 1376945: '28465 27959 35640 42585 8670 34658 14947 35948 8309',
 1356845: '14992 7076 40377 10863 21616 13176',
 2161313: '11266 10441 12427 37710 14715 27839',
 1416320: '5134 21903 21137 24852 17948 41950',
 1735923: '24629 17008 2192 196 18174 31487 15131 35123 12108 34690 14252',
 1980631: '13575 6184 9387 46061 13914 41400 22362',
 139655: '21903 22935 27845 13176',
 1411408: '43758 22008',
 2940603: '7521 31615',
 1192143: '24852',
 280888: '12440 19213 41406',
 3202221: '49215 7781 21137 43692 4793 45774 17630 24852 45364 13629 11130 46979 2452 9637 21927 6069 39911 9203',
 3222866: '37131 32912 7969 38690 33198 8501 32441 18894 34254 35921 7039 15718',
 707453: '45066 42585 26209 48230 44142 21137 47766 694 18150 24852 21267 32030 4942 39275 37766 21903 28156',
 1320132: '11079 44632',
 882556: '28289 17794 32653 21903 42768 24852 25890 48679 28204 28849 12857 46906 41149 5450 7371 1870 8424 30962 9076 5373',
 2431024: '22035 17044 27555 34217 13740 39928 6975 5699 5450 5322 24799 29926 13176',
 2827745: '17924',
 2174416: '40604 10017 36929 15712 18798 13176',
 1325316: '26165 47766 24852 24964',
 320326: '24852 41896 1208 42828 45646',
 2128599: '7628',
 1099519: '22035 28058 26351 13176',
 144494: '16959 23106 14947 46260 39108 23431',
 3024191: '27521 30233 18362 39275',
 2817181: '30219 18828 41618 28058 22559 35782 19677 1377 47867',
 2883656: '24852 21497',
 1970262: '21567 12872 48364 21267 13176 24964 29071 21903 28058 22451 4562 27105',
 2681168: '11777 47167 22151 34993 42736 40198 37131 46886 38739 36735 26604 4605',
 1345233: '21903 21137 40146 13176 1695',
 2412507: '18023 5258 21137 43352',
 139487: '21386 6184 196',
 3302990: '24852 27344 21616',
 1189294: '21137 26317 27966 13176 25527',
 1368861: '1940 23334 14335 5445 6884',
 1626588: '36118 14365 31808',
 36863: '27521 24964 21137 22935 32177 45007 17872 13176 10749',
 969538: '31263 38461 11951 41651 23319 13643 8030 30120 45054',
 688716: '35108 5077 47209 13176',
 1058680: '32768 2563 44570 12339 44106 23665 4210 46735 14992 30356 41273 43872 47006 13733 32165 470 16890',
 831748: '5782 36431 44142 40174 33791',
 2710859: '21249 24852 47766 45104 40897 45007',
 1500625: '1674 40332 10673 38200 46138 8769 26700 29646 16464 40531 16855 36086 34300',
 726111: '47766 41165 9554 12756 44632 13176',
 2567075: '6692 12381 12896 12392 35951 47766 31481 37646 26384 30489 18727 9124 34217',
 1855063: '27845 13176 17794 32655 3988',
 2588536: '10831 28289 21137 26790 48335 2825 24852 33572 47521 23986 49111 5612',
 1658650: '47626 19057 28289 14992 47766 40706 24852 44359 1890 44910 21903 45007 19934 5612 39928',
 36740: '13841 27726 3176 29805 10374 26312 36058 7393 36126 25976 35199 25495 2010 20463',
 2675738: '39685 5031 37543 46226 46551',
 3052059: '9421',
 2943466: '7559 5258 11790 21137 24852 27423 38313 13870 2228 45633 44910 5876 3957 31225',
 1920100: '34458 22582 37687 30391 41658 2748 49235 9444 19173 47209 4844 17652 13176 46969 22908',
 2993890: '26648 13176',
 1172828: '4210',
 2587424: '13060',
 2691733: '41658 47990',
 2769561: '18434 9224 45066 49683 36389 20520 42585 47209 47734 11941 11447 42699 21227 40706 24852 43290 3376 44359 42824 37192 16759 13176 46979 24964 21405 16797 22963 30135 45007 41950 27104 38383 23543',
 2029462: '17794 19348 38453 35132 11090 8424',
 1817659: '34304 28934 26128 35121 25659 25666 3957 4472',
 470997: '28465 18625 7515 8043 4350',
 569815: '23296 14852 42372 27275 24852 16797 15902 4920 12218 49496 8671 100 26094 46842',
 2517930: '49683 24852 24964 35221 16291',
 2378064: '6287 49683 45603 30776 28535',
 169451: '13176',
 2986791: '15386 28204 13870 26209 47717 17526 16521 22227 12023 13176 17794 21903 2966 21914 21405 16797',
 1239084: '23044 10768 5141 49235 6760 21137 12469 30391 23233 33527 24852 28985 27454 44359 17758 13166 16759 32655 22935 12700 21936 10685',
 3191854: '49191 4809 40174 41806 19057',
 1132910: '30233 38948 4138 28204 28740 27744 24184 47766 1194 1217 21704 42701 23265 28906 5876 23288 42750 24852 41255 28476 41290 27086 17872 37330',
 2088686: '5380 27531 29837 26128 30489 31553 39877 46802 40545 5479 40311 39928',
 3358588: '19348 24852 22959 25804 27730 4210',
 1283403: '47209 35951 21137 40604 44229 13176 8174 38383 36342 5115',
 2098786: '4482 13447 29344 19660 26324 6873 8929 27509 19446 13176',
 795256: '8193 9839 10385 8859 48364 23288 30489 3376 28985 18234 22418 45007 6649',
 2399184: '28199 77 49235 47229 21137 10385 39570 4781 26317 42719 33043 24852 4920 31040 36695 19819 40310 38275 32139 9122 11710 18370 27086 22993 23516 36316 48112',
 862070: '46229 20655 24852 11136 17352 5612',
 313331: '19660',
 3241020: '21709',
 1549872: '1160 47931 5468',
 1653971: '3849 24852 33198 14901 18358 15424 3318',
 3161938: '47626',
 2318705: '20995 47209 21616 30391 35547 27881 5876 35140 8518 21367 24964 21903',
 1882331: '24852 2966 47931 27579 5312 18523',
 1696774: '36099 43967 17615 41680 1366',
 2686576: '9387 46802 21872',
 3048274: '26309 15399 19598 13712 34224 20084 45599',
 1141566: '4920 43352',
 3069370: '27845',
 2969880: '24964 21903 16185 13263 35168 9076',
 2726815: '15424 24852',
 1862801: '49683 17454 49235 35951 27845 7948 24852 42342',
 865014: '5776 34969 16797 11422 18127 11361 24184',
 2572142: '13225 24852 27292 16797',
 1379299: '1559',
 1579044: '47626 49683 34358 24852 21903',
 346816: '3873',
 3116687: '26882 43409 47540 43511 39454 23405 47987 35759 43967 3061 33793 39979 25810 31981 25860 46541 30251 34355 16096 42895 28577',
 158824: '15124 33819 28842 47793 15925 4920 46023 19660 33231 46416 723 10070 4317 26209 27238 4591 42352 44536 23803 46844 44799',
 2306683: '26683 28476 23765',
 939128: '24852 46906',
 1242621: '40236 3495',
 82598: '13176',
 1177551: '31380',
 61423: '651 6184 12078 25017 18023 35561 8057',
 1105633: '21137 24852 28204 38508',
 930307: '2116 4357 24852 22677 39190 2805',
 588332: '6656 31350 21137 19875',
 2964001: '14233',
 1971668: '6656 28226 46667 4175 8809 28849 37065 19660 9934 49383 33000 48364 40203 17704 28985 18234 5991 13176 21405 38837 34243 5578 38374',
 1452849: '46667 26209 47209 13984 30391 5876 43295 44359 21903 21938',
 2242945: '22035 49175 25138 35951 7801 27845 6347 16589 39121 8412 17652 40706 28934 42265 2846 31528 29487 46906 46969 49075',
 465851: '40910 79 27023 24852 30135 13942 45948',
 1080218: '24852',
 3088338: '21454 26706 42347',
 3037363: '20161 48199',
 2305779: '22938 48174 12341 42043',
 632748: '28449 28080 24701',
 2770483: '44422 21543 9018 27325',
 143045: '22035 40002 8277 43654 21137 8479 40268 11100 39275 21903',
 2481483: '19660',
 1299805: '42736',
 2364890: '5322 18095 19376',
 1979817: '1194 21709 14947 5876 4472',
 2193705: '21903 40742 6184 4149 12341 40120 6087 39275 8048 38768',
 1160743: '21903 39732 27845 4193 13176',
 239545: '13702 21137 19862 30489 5282 2482 30774 43961 27966 29127 27086 8654 42450 36830 42342 35951 41588 34295 9339 34943',
 729099: '12341',
 906822: '4920 38768 8571',
 887842: '20995 24082 25720 45763 21295 33120 13176',
 1185710: '28204 19508 45633 9839 21137 30391 27845 21775 21267 24852 38689 39216 30024 14715 24964 21903 22935',
 1237726: '24852 46654 39877 25671 26209 44142',
 572050: '31846',
 1753574: '42606 24184 10385 21137 47766 27845 6348 24852 25890 19348 38293 18838 22935',
 442242: '7521 3957 25718',
 3376600: '20995 13829 8710 17949 48679 13870 49215 41540 15950 5212 19048 47209 31869 47761 46747 20127 26283 35510 4792 43726 19678 46820 26856 48878 7923 2295 26369 12034 37646 24852 42265 15649 14633 43819 27966 48476 13176 45957 21903 22935 33754 14811',
 2557552: '21903 24852 2809 1468',
 2391680: '21137 27845 26369 42265 38689 39275 13176 21903 21938 45007',
 2196307: '17429 35221 29370 31040 47943 14924 5077 44632 33754 4957 3957 40571',
 198531: '24195 24852 30442',
 1281623: '24852 25753 33055 162 25513 49235 8277 1511 6638 22908 36735',
 1309059: '21903 24852 47766 10749',
 654116: '49191 25146 44116 24669 44156 36011 6829 22242 23296 45825 32047 48004 26505 16797 7607 16844 46572',
 2761369: '35921 49236 47209 26800 28378 33572 13176 22935 27061',
 1918388: '14084 42265 25931 39639 42585 27104 33120',
 3073553: '18434 2063 14947 35951 4210 35503 24852 340 7054 16797 12703 34243 486 33768',
 1266894: '19761',
 2185735: '47492 12807 37022 10915 21174 1463 43961 27966 34243 49241 47209 3957',
 1676841: '38928 49235',
 1088553: '27845',
 65467: '24852 35140 44910 3957',
 2314209: '28581 45763 33129',
 3407461: '43154 24852',
 2372519: '8193 41722 6533 8590',
 2247264: '18176 41549',
 2651333: '19638 40174 1321 28985 432',
 1990335: '43598 43961 21663',
 668032: '6347',
 2730481: '39993 14947 19057 47766 30391 7916 4920 24964 19348',
 1032696: '47626 37646 24852 47766 42265 9755 46676 4957',
 3355968: '43295 30169 35951 13176',
 1945605: '44292 16262 35221 5785 12576 47144 42828 21709 27086 8021 44632',
 1098067: '3585 14467 37158 4421 36550 23644',
 2890507: '1409 8710 43432 16663',
 2519594: '45066 47626 14874 16953 26209 47209 43643 21137 39570 2748 46313 24838 42265 13083 35108 46381 27966 41844 13176 37245 45965 7054 45504 33731 6104 37355',
 1493300: '24852 18465 17706 13113 8277 7781 13176',
 476412: '49683 24852 5450 32153',
 2151106: '30849 21137 16541 29345 47141 10151 4776 28227 42820 24269 43352 49131 13176',
 293692: '34050 27548',
 836275: '12817 24852 37017 39982 16816 10673 35376 32566 43967 5460 41950 13293',
 1956871: '3999 23719 28204 34502 4443 13921 5101 35951 36214',
 68117: '9605 49030 21386 17676 28204 26165 28092 17341 12870 35914 21333 18284 30320',
 3387692: '47616 34448 21137 24221 21162 27845 18670 24852 4920 13176',
 543041: '26497',
 1455788: '28296 23819 40354 18104 33852 4674 48071 41805 27612 23276 1775 43772',
 1490499: '47626 24852 11140',
 2055323: '30862 13176',
 1324947: '20995 12847 2611 36406 34448 21137 27966 13712 16797',
 891657: '35921 9337 12953 22721 46313 20734 47388 28476 35687 13176 43484 18413',
 3112323: '36258',
 1241495: '15906 8277 44632 18020 8309 21137 39589 25837 36082 19741 28465 9018 13629 13176 45948 35221',
 1112531: '24857 38689 43712 35045 15613',
 1545001: '30233 36929 17487 21607 21616 26810 24852 27966',
 1267591: '24852 4920',
 944071: '13944',
 606811: '10125 21903 21137 1940 24852 31257 19354 18465 36717',
 1901134: '48395 49683 24852 30003 4163 43209 38996 49381',
 1461409: '38159 21137 37288 32864',
 1036348: '23044 47209 13176',
 1803743: '43631 13249',
 3259141: '13176',
 2377342: '42360 11182 34234 12508 27360',
 2080645: '21019 27196 19057 20166 47329 41290 13176 39303 1940 34234',
 599014: '47626 26384 20114 44570 9387 28118 49381',
 587740: '17317 40621 47965',
 877079: '23427 24852 14233 16290 34 26800 31683 18389 9438 22888',
 1887969: '24852',
 3100473: '17948 2078 48679 39984 17461 47209 21137 34458 32935 35547 5876 13083 28985 27966 44359 34126 19820 36724 13176 24964 21903 22935 20899 27104 10749',
 123641: '48527 19348 26604',
 2104476: '20995 21903 24852 35221 47766 48679 37687 30391 43961 18370 27845 5959 45007 8277 5077 48476 31343 39928',
 3025259: '32018 36144 10036 19511 12099 22470 32740 3434 28269',
 203528: '18465 10831 48745 9839 21137 47766 27845 43768 22825 27966 13176 21903 11710 45504 45007 19934 39928 10749',
 3409156: '31564',
 1094091: '34050 24476 4793 27966 39527 30440',
 764108: '27522 18552 1695 43693 40261 20298 24920 42719 8047 13176',
 1386850: '32134 43789 32655 22959 18224 30391 24125 45007 48988 27104 31717 21616 3952 46194',
 458905: '28682 43957 13885',
 728126: '35914 2229 24852 15709 5535 30117',
 1886032: '38273 9346 34050 46724 40709 10761 28553 21903 44560 21267 3481 35108 13733 2094 29487 28985 40377 16185 11068 35004 4421 581 12872 22474 42828 4942 32717 35921 46802 5337 26723 19048 36606 45679 13176 4605 24830',
 630214: '24852 6187 9901 14901 45622 6340 2120 11869 23909 44799',
 1533834: '24852 25108 13524',
 736391: '14979',
 1470781: '43961 27966',
 2360269: '22151 13834 4879 2962 39581 36126 45761 25804 27086 5077 49628 49141',
 1237146: '49683 24852 49235 16249',
 3128663: '26881 28364 31759 13424',
 2535468: '14979 6184 25653 12341 13176',
 1619858: '24964 47626',
 999537: '30850 32951 32700 23909',
 162228: '38662 3999 4920 45763 21616 13176',
 160588: '29848 34668 13176',
 2914973: '46979 47626 24852 22935 25890 43352 29926 36216',
 153911: '43400 18465 33198 44471 11984 30035 605 47209 44910 20598',
 1530394: '22035 39527 47209 43122 21137 29370 19660 42828 432 5077 10199',
 1018776: '32689',
 3158092: '12697 18987 35123 39604 46041 33909 35194 4605',
 1788231: '47626 6182 2091 28204 26209 22151 34969 11937 1194 35522 46820 40198 24852 17183 14133 37197 21903 21417 22959 45007 23543',
 2580369: '35939',
 2866997: '15872 21137 24852 32665 29987 23986 27104 27000',
 1629029: '5258 21903 17948 48679 27695 1337 9421 40156 27104 7922 13176',
 1158445: '28289 24583 47626 21903 36522 49075 8903 8424 19068 3583',
 1184388: '31396 32837 34838 40310',
 1261211: '45066 21137 41618 2450 432 17224 21607',
 2976551: '35547',
 524582: '49683 27845',
 2742254: '20738 47747 47626 24852 23962 23909 29553',
 39629: '24838 11576 5479 13176',
 2496659: '20995 45588 13375 6799 40621 23037 27360 17122 31981 24852 10032 27966 26456 40376 12218 19389 30661 12782',
 2676901: '18564 35846 15134 34230 37886',
 1078531: '22935 22950 48171 41259 35510 4920 18618 5438 5450 41551 21077 26209 8174 19057 13176',
 2278368: '11776 4357 37646 39190 38944 36397 38837 28228 27105 46565 5876 13176',
 3196397: '40198 25211',
 695415: '44632 14947 27247 20119 36011 21709 35221',
 2121710: '23430 2694 30630 17333 13548',
 2904666: '47766 30489 21938 30391 28985 19660 45007 46676 41950 26209 31717 47209 32747 18027 21872 13176',
 1497682: '2855 33081 48205',
 1726557: '16797 12341',
 178418: '45200 24852 5785 22935 27966 5450',
 391588: '7175 19057 41593 34969 40604 11933 27845 6489 33120 13176 13249',
 1055153: '28204 38456 6343 40174 25890 4920 41844 34214',
 1170109: '16558 30639',
 2471966: '45066 47626 48657 28204 1582 48205 22108 26209 17008 20114 49340 31423 26321 36056 46844 47366 276 4895 23909 14286 27096',
 1994195: '36865 1930 21903 24852 36011 28465 27344 24799 9839',
 2513235: '24852 29010 38511',
 2286484: '38155 22695 19042 1509 373',
 1624388: '33000 8571',
 3020209: '42445 13176 29307',
 3255859: '39812 24964 651 29326 17807 47766 22935 42265 15261 38689 22308 44359',
 2005070: '48775 21903 42768 15503 6948 1199 4799 27845 38777',
 1237487: '27690 24852 4451 1511',
 2688906: '47209 5876 30489 13176 24964 22935 45007 27104 1516 4597',
 2170508: '1379',
 2563471: '1 29698 8859 34862 48304 40240 18359 3260 22340 4047 30553 14564 18790 47977 36843 43631 21757 13951',
 2318244: '45066 36011 13176',
 242483: '45570 24838 44683 12341 27845',
 1272828: '24852 16797 38817',
 362619: '39046 37776 36923 38730 36316',
 1168266: '42887 1940',
 141543: '45154 36107 9175',
 3183367: '44422 40199 24489 35951',
 1797124: '196 22802',
 89381: '11422 49191 43631',
 1423050: '27744 24838 26683 42443 39276 43295',
 1249392: '28928 29447 7054 24830 35221 47766 26914 36036 44632 25949 19057 28535 13176',
 3311636: '47209 5876',
 439205: '24852',
 420520: '9544 9387 49647 24852 5782 3512 16607',
 2754200: '42504 24852 28204 35628 39982 10819 25804 30696 31981',
 2558743: '16396 8277 94 47209 28785 21137 5785 19611 26278 27845 43738 11520 43295 28476 27966 19272 5484 13176 16847 10199 37349',
 1287397: '28204',
 1519990: '24852 47766 27086 42736',
 1671355: '37646 21903 24852 39928 46676 47209 25837 11123',
 2791256: '21903 21137 19348 24852 30489 17949 34217 24631 24799 10343 47209 19057 40310',
 2520517: '5985 21292 32689 12341 8571',
 1930805: '31651 47402 13176',
 1502827: '38453 49235 5612 27845',
 1054066: '27288 47156 10467',
 109911: '46979 24964 47626 21903 49683 24852 38293 47766 5168 19893 28985 43961 46802 26209 46206',
 934581: '47626 22935 48034 37687 27966 35140 32864 26209 5479 26604 14833',
 311086: '13841 7393 29447 24852 8501 43867',
 2997340: '1541 32133 30727 45061 17419 49683 24852 148 47766 1685 15130 25890 40997 22959 29487 23734 4920 41787 40136 8424 7156 24184',
 216270: '17794 37646 34448 21137 22035 13858 29370 1215 43713 42450 23765 8022 36695 24024 24535 11352 47209 13176 39928 43643',
 889691: '14858 46485 20392 3896 27086 13646 36070 5612 19966',
 2676926: '47626 37646 20114 47766 2966 1313 34380 47209 44142',
 1146075: '32655 5785 24125 42445 5353 16759',
 3168076: '40706 21903 44949 28158 39275 13176',
 2316252: '32403 21573',
 1199748: '47626 44570 47766 24218',
 2864780: '21903 24852 16168 4792 13249 48857 18523 35045',
 2101491: '8277 26209 21137 47766 6348 9444 30949 13560 26369 24852 42265 8518 36695 6532 3464 21938 31717 16363 38383 10749',
 2898328: '5547 30923 9698 49271',
 2308945: '34050 48645 37766 47626 40332 24852 169 19508 28985 30960',
 551385: '49683 8859 22228 24852 21903 22959 19376',
 2065552: '14348 17426 16921 20019 34358 39491 2120 18019 40586 20114 14999 35003 22309 20842 29553 13176 21376 26510 3990 29623 28092 49633 13802 44533',
 2619795: '8744 48205 24184 47766 22695 22186 9387 37072 24852 20378 432 49098',
 92308: '40223',
 2869963: '11520 21903 42265 6347',
 221995: '35336 18443 32478',
 2364225: '11777 40992 38444 26209 11874 48742 3701 43127 21158 32433 8920 45290 42736 46841 43772 47890 24852 29487 22831 35123 6473 5450 12620 36186 32115 15756 6046 13230 432 32689 37330 4562 31706 42460 49139 4605',
 2383884: '12427',
 1409336: '26209 651 40593 21137 47766 47788 29370 27845 41220 40199 3880 44359 31073 13176 43394 27548',
 2985179: '41220 23383 31717 35951 46584',
 2510588: '27695 36929 12395 13176 46990',
 2724284: '22054 39475 25558 42840 12923',
 406182: '33827 32303 35921 8800 47226 21689 10032 1843 33614 3919 23909 37250 38793 45961 23957 8149',
 3359540: '16797 30633',
 1382149: '40198 12456 28842 32177 4920 46175 13176',
 113476: '5373 18883 47734 4605 33279',
 172394: '21137 47766 25890 6985 17872 13176',
 1017522: '45104 44632 40604 27325 13176 46979 21903 35221 25005 34243 5578 31717',
 1148846: '34466 27985 49131',
 1389899: '9741 47626 19894 17080',
 383770: '7681 47626 42526 48559 5484',
 1344043: '23565 16398 44570 8736 47766 11945 27949 38205 31634 26576',
 2172762: '1689 25466 20378 10673',
 1635368: '24139 26706 4210 21137 44201 10036 13176 46969',
 624714: '42659 27945 1090 34117 48205 2639 7901 3044 23909 44536',
 3102231: '44142 1940',
 3070543: '47616 18441 49683 27695 45633 48720 11440 27845 3855 41242 22312 4920 46906 9534 13176 38274 28597 32717 48595 2014',
 1378259: '24852 42834 3431 7533 9623 33791',
 951592: '5385 34111 5456',
 2270224: '40486 33351 24852 38185',
 3235117: '22035 5392 36117',
 1720960: '11266',
 2279794: '9121 36011',
 1248981: '31292 24279 24852 11140 31215',
 1516872: '47626 24852 47766',
 533523: '49235 7781 31960 27966 13176 13203 1940 44980 47570 5603 8174',
 20345: '45066 14870 15399 26165 36406 5212 47209 21137 5785 37029 12456 27344 25832 7916 11520 37646 24852 42265 26909 41787 27966 3957 13176 27548 6568 15290 39408',
 2771992: '39832 45596 9508 37158 28199 4792 14778 17982 24799 33894 36978',
 3118092: '6218 46667 26209 41065 26746 44683 21137 6291 47766 1689 3245 30391 5825 43768 40706 41259 26940 27966 34126 39275 16759 6008 17794 39877 45007 27104 31717 38383 5114',
 1242668: '24852 18071 34262 43252 44925',
 352630: '1203 22713 19660 32566 13176 27521 21903',
 2072510: '11520 24852 2086 4142 5450',
 1237738: '25132 15424 35921 20082 21635 21131 21137 39581 9387 41722 47367 21288 27966 40285 30569',
 121516: '19209 7693 48527 46483 24852 1313 12845 32303 49492 8670 39922 24053',
 1523498: '21333 28515',
 2239739: '37766 47766 20631 33198 49201 2611 22969 19006 27845 48967 23375 6489 22122 31343',
 1970457: '23044 37388 22035 47209 4210 13431 48255 27307 30391 4793 28862 41165 40199 21267 42265 47912 35628 3397 42342 13176 8087 46584 13819',
 2525507: '16973 47209 21137 4781 24852 13176 22935 3481 46069 10749',

In [87]:
# sub = pd.DataFrame.from_dict(d, orient='index')

In [88]:
# sub

                                                         0
2774568                 17668 21903 39190 47766 9387 43961
1528013                                        21903 38293
1376945  28465 27959 35640 42585 8670 34658 14947 35948...
1356845                 14992 7076 40377 10863 21616 13176
2161313                11266 10441 12427 37710 14715 27839
...                                                    ...
1801443                                               None
88155                                                 None
638959                                                None
474081                                                None
2994962                                               None

[75000 rows x 1 columns]

In [89]:
# sub.reset_index(inplace=True)

In [90]:
# sub

         index                                                  0
0      2774568                 17668 21903 39190 47766 9387 43961
1      1528013                                        21903 38293
2      1376945  28465 27959 35640 42585 8670 34658 14947 35948...
3      1356845                 14992 7076 40377 10863 21616 13176
4      2161313                11266 10441 12427 37710 14715 27839
...        ...                                                ...
74995  1801443                                               None
74996    88155                                               None
74997   638959                                               None
74998   474081                                               None
74999  2994962                                               None

[75000 rows x 2 columns]

In [91]:
# sub.columns = ['order_id', 'products']
# sub

       order_id                                           products
0       2774568                 17668 21903 39190 47766 9387 43961
1       1528013                                        21903 38293
2       1376945  28465 27959 35640 42585 8670 34658 14947 35948...
3       1356845                 14992 7076 40377 10863 21616 13176
4       2161313                11266 10441 12427 37710 14715 27839
...         ...                                                ...
74995   1801443                                               None
74996     88155                                               None
74997    638959                                               None
74998    474081                                               None
74999   2994962                                               None

[75000 rows x 2 columns]

In [92]:
#sub.to_csv('submission.csv', index=False)